<section class="my-6 px-4">

  <div class="download-section">
      <div class="d-flex flex-column justify-content-center align-items-center download-iPasargad">
          <div class="mt-lg-5 mt-2">
            <img src="/images/home/Download_iPasargad/D-ipasargad.webp"  class="" height="80" alt="آی‌پاسارگاد" loading="lazy" />
          </div>
          <h4 class="text-light mt-lg-4 mt-2 text-justify px-2">
            با اپلیکشن آی‌پاسارگاد سرمایه‌گذاری آسان‌تر از همیشه است!
          </h4>
          <div class="d-flex justify-content-center flex-wrap mt-lg-3 mt-1">
              <!-- <a href="https://app.ipasargad.ir/auth/reg/step1"
               class="btn btn-outline-white text-white rounded-pill px-4 my-2 py-2 mx-2 w-200" style="border:1px solid white;">                             
                <img src="/images/home/Download_iPasargad/Qrcode.svg"  class="" height="12" alt="آی‌پاسارگاد" loading="lazy" />              
                <span class="me-2 fs-6">اسکن QR CODE</span>
              </a> -->
              <a  href="/download" class="btn btn-success text-white rounded-pill px-4 my-2 py-2 mx-2 w-200"> 
                <img src="/images/home/Download_iPasargad/Download-white.svg"  class="" height="12" alt="آی‌پاسارگاد" loading="lazy" />              
                <span class="me-2 fs-6">ورود به صفحه دانلود</span>
              </a>
          </div>
          <div class="d-flex w-100 mt-lg-3 mt-1" style="margin-left: 20%;">
              <span class="me-4 ms-1 cursor-pointer">
                <a href="https://www.youtube.com/@pasargadcapital" target="_blank" title=""
                  style="all: unset !important;">
                <img src="/images/home/Download_iPasargad/youtube.svg"  class="" height="15" alt="آی‌پاسارگاد" loading="lazy" />              
                </a>
              </span>
              <span class="mx-1 cursor-pointer">
                <a href="https://cafebazaar.ir/app/ir.ipasargad.app" target="_blank" title="کافه بازار"
                  style="all: unset !important;">
                <img src="/images/home/Download_iPasargad/Cafebazzar.svg"  class="" height="15" alt="آی‌پاسارگاد" loading="lazy" />             
                </a>
              </span>
              <span class="mx-1 cursor-pointer">
                <a href="https://myket.ir/app/ir.ipasargad.app" target="_blank" title="مایکت"
                  style="all: unset !important;">
                <img src="/images/home/Download_iPasargad/Mayket.svg"  class="" height="15" alt="آی‌پاسارگاد" loading="lazy" />             
                </a>
              </span>
              <span class="mx-1 cursor-pointer">
                <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank" title="دانلود مستقیم"
                  style="all: unset !important;">
                <img src="/images/home/Download_iPasargad/Download.svg"  class="" height="15" alt="آی‌پاسارگاد" loading="lazy" />              
                </a>
              </span>
              <span class="mx-1 cursor-pointer">
                <a href="https://app.ipasargad.ir/auth/login" target="_blank" title="وب‌اپلیکیشن"
                  style="all: unset !important;">
                <img src="/images/home/Download_iPasargad/Pwa.svg"  class="" height="15" alt="آی‌پاسارگاد" loading="lazy" />             
                </a>
              </span>
          </div>
      </div>
  </div>

  <!-- <div class="w-100 d-flex align-items-center justify-content-center mt-auto mb-3">
    <div
      class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
      <a href="https://academy.ipasargad.ir/what-is-takpod-fund" target="_blank"
        class="btn btn-link py-2 fs-6 text-decoration-none text-white" style="white-space: nowrap;">
        <span>
          لینک به صفحه آکادمی
        </span>
        <img src="/images/arrow-left.svg" loading="lazy" width="20" height="20" class="me-2"></a>
      </div>
  </div> -->

</section>