// .input-group>.form-control {
//     border-radius: var(--dtx-border-radius) !important;
//     border-top-left-radius: 0 !important;
//     border-bottom-left-radius: 0 !important;
// }

// .input-group> :not(:first-child) {
//     border-radius: var(--dtx-border-radius) !important;
//     border-top-right-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
// }

::ng-deep {
  .custom-popover.popover {
    background-color: #333;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    padding: 10px;
    max-width: 240px;
    direction: rtl;

    .popover-body {
      padding: 8px;
      color: #fff;
      text-align: center;

      a {
        color: #9b5eff !important;
        text-decoration: none;
      }
    }

    .popover-arrow {
      bottom: -8px;

      &::after {
        border-top-color: #333;
      }
    }
  }

  .form-check-input {
    border: 1px solid rgb(160, 160, 160) !important;
  }

  @media (max-width: 767.98px) {

    .flex-header>div:last-child {
      display: none !important;
    }

    .responsive-item {
      flex-direction: column !important;
      align-items: flex-start !important;
      gap: 0.5rem;
    }

    .responsive-item>div,
    .responsive-item>button,
    .responsive-item>input,
    .responsive-item>.input-group-append {
      width: 100% !important;
    }

    .responsive-item .form-control,
    .responsive-item .btn {
      width: 100% !important;
    }

    ng-select {
      width: 100% !important;
    }

    .responsive-hint h5 {
      font-size: 0.85rem;
      text-align: justify;
    }

    .w-md-100{
      width: 100% !important;
    }

    .me-sm-0{
      margin-right: 0 !important;
    }
  }
}