<section class="pb-3">
  <div class="container-fluid px-2">
    <div class="card shadow-sm overflow-hidden">
      <div class="card-header bg-purple text-white p-3">
        <div class="d-flex align-items-md-center flex-column flex-md-row justify-content-center">
          <img src="/images/call-center.svg" class="mx-auto me-md-3 ms-md-auto" alt="" />
          <div class="align-items-center d-flex flex-column mx-4 mx-md-0 p-4 location-container">
            <!-- <span class="mb-0 text-justify text-nowrap">
              تهران، خیابان امیرآباد شمالی، خیابان
              <svg style="height: 14px;" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
                <path fill="CurrentColor" stroke-width="0"
                  d="M18.3,4.7c-3.3-3.5-8.8-3.6-12.3-.2,0,0-.2.2-.3.2-1.6,2.4-2,5.4-1.1,8.1.9,3.3,3.2,5.7,5.1,7.7l.9,1c.2.2.4.3.6.5.5.2,1,.2,1.5,0,.2-.1.5-.3.6-.4l.9-1c1.9-1.9,4.2-4.3,5.1-7.7.9-2.7.5-5.7-1.1-8.1ZM12,12.6c-1.6,0-2.9-1.3-2.9-2.9h0c0-1.6,1.3-2.9,2.9-2.9,1.6,0,2.9,1.3,2.9,2.9,0,1.6-1.3,2.9-2.9,2.9Z" />
              </svg>
            </span>
            <span class="mb-0 text-justify text-nowrap">فرشی مقدم، پلاک ۹۵ - ۱۴۳۹۸۳۵۱۳۳</span> -->
          </div>
          <div class="align-items-center d-flex flex-column mx-4 mx-md-0 p-4">
            <span class="ltr mb-0 text-justify">
              <svg style="height: 14px;" class="me-1" xmlns="http://www.w3.org/2000/svg" version="1.1"
                viewBox="0 0 24 24">
                <path fill="CurrentColor" stroke-width="0"
                  d="M22,18.9c-.1.6-.4,1.1-.9,1.5-1,1-2.4,1.6-3.8,1.6h-.4c-1.5,0-2.9-.4-4.3-1.1-.3-.2-.6-.3-1-.5-1.6-.9-3-2-4.3-3.3-1.7-1.6-3-3.4-4-5.5-.5-1.1-.9-2.3-1.1-3.5-.2-1.3,0-2.6.4-3.8.3-.5.7-1,1.2-1.5.2-.2.4-.4.7-.5.3-.1.6-.2.9-.2.7,0,1.3.4,1.7.9.5.5,1,1,1.5,1.6l.6.6c.4.3.6.8.7,1.3,0,.5-.2.9-.5,1.3-.2.2-.4.5-.6.7l-.2.2c-.1.1-.2.3-.3.4,0,.2,0,.3,0,.5.2.4.4.8.8,1.2.5.7,1,1.3,1.6,2,1,1.1,2.1,2.1,3.4,2.8.1.1.3.2.4.2.1,0,.3,0,.4,0,.4-.2.7-.5,1-.8.4-.4.9-.7,1.5-.8.6,0,1.1.2,1.5.6.2.2.5.4.7.6l.3.3.3.3c.2.2.4.4.6.6.3.3.6.6.9.9.3.4.4.8.4,1.3Z" />
              </svg>(021)<strong class="fs-5 ms-1">58241</strong>
            </span>
            <span class="mb-0 text-justify">info&#64;ipasargad.ir</span>
          </div>
        </div>
      </div>
      <div class="card-body p-4 p-md-6 text-secondary">
        <div class="d-flex flex-column flex-lg-row">
          <div class="d-flex flex-column align-items-lg-start flex-shrink-0 m-auto" style="max-width: 300px;">
            <img style="height: 20px;" class="mt-2 mb-4 mb-lg-3" src="/images/logo-horizontal-gray.svg" alt="" />
            <h5 class="ff-peyda mb-3 fw-light lh-base">
              آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین پاسارگاد، راهکار جامع و حرفه‌ای برای سرمایه‌گذاری شماست.
            </h5>
            <div class="d-flex flex-row gap-1 mb-3 justify-content-center justify-content-lg-start">
              <a href="https://t.me/pasargadcapital" target="_blank"><img style="height: 20px;"
                  src="/images/telegram.svg" alt="telegram" /></a>
              <a href="https://instagram.com/pasargadcapital" target="_blank"><img style="height: 20px;"
                  src="/images/instagram.svg" alt="instagram" /></a>
              <a href="https://www.aparat.com/PasargadCapital" target="_blank"><img style="height: 20px;"
                  src="/images/aparat.svg" alt="aparat" /></a>
              <a href="https://www.linkedin.com/company/pasargad-capital-market-group" target="_blank"><img
                  style="height: 20px;" src="/images/linkedin.svg" alt="linkedin" /></a>
              <a href="https://www.youtube.com/@pasargadcapital" target="_blank"><img style="height: 20px;"
                  src="/images/youtube.svg" alt="youtube" /></a>
            </div>
            <h4 class="fw-bold ff-peyda mb-3 text-center text-lg-end">مجوزها</h4>
            <div class="d-flex flex-row gap-1 mb-3 justify-content-center justify-content-lg-end">
              <div class="cert-container cursor-pointer">
                <a referrerpolicy='origin' target='_blank'
                  href='https://trustseal.enamad.ir/?id=540555&Code=OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9'><img
                    referrerpolicy='origin' alt='enamad'
                    src='https://trustseal.enamad.ir/logo.aspx?id=540555&Code=OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9' alt=''
                    style='cursor:pointer' code='OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9'></a>
              </div>
              <div class="cert-container" ngbTooltip="سازمان بورس">
                <a href="https://www.seo.ir/" target="_blank">
                  <img src="/images/seo.svg" alt="سازمان بورس" />
                </a>
              </div>
              <div class="cert-container" ngbTooltip="بورس اوراق بهادار تهران">
                <a href="https://www.tse.ir/" target="_blank">
                  <img src="/images/tse.svg" alt="بورس اوراق بهادار تهران" />
                </a>
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row flex-wrap flex-fill justify-content-start justify-content-lg-between m-auto">
            <div class="d-flex flex-column align-items-sm-start mx-4">
              <h4 class="fw-bold ff-peyda mb-3">سرمایه‌گذاری</h4>
              <a class="text-decoration-none text-secondary mb-3" href="/hezareh3-pod">صندوق هزاره سوم پاد</a>
              <a class="text-decoration-none text-secondary mb-3" href="/pasargadetf">صندوق پاسارگاد</a>
              <a class="text-decoration-none text-secondary mb-3" href="/rhyton">صندوق طلای ریتون</a>
              <a class="text-decoration-none text-secondary mb-3" href="/takpod">صندوق سهامی تکپاد</a>
            </div>
            <div class="d-flex flex-column align-items-sm-start mx-4">
              <h4 class="fw-bold ff-peyda mb-3">راهنمایی و آموزش</h4>
              <a class="text-decoration-none text-secondary mb-3" href="https://academy.ipasargad.ir/"
                target="_blank">آکادمی آی‌پاسارگاد</a>
              <a class="text-decoration-none text-secondary mb-3" href="/contact-us">ارتباط با آی‌پاسارگاد</a>
              <a class="text-decoration-none text-secondary mb-3" target="_blank"
                href="https://academy.ipasargad.ir/instruction-to-sign-up-in-ipasargad">راهنمای ثبت نام</a>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">راهنمای سرمایه گذاری</a>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">سوالات متداول</a>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">پشتیبانی</a>
            </div>
            <div class="d-flex flex-column align-items-sm-start mx-4">
              <h4 class="fw-bold ff-peyda mb-3">دسترسی سریع</h4>
              <a class="text-decoration-none text-secondary mb-3" href="/download">دانلود اپلیکیشن</a>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">شماره حساب‌</a>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">فرصت‌های همکاری</a>
              <h4 class="fw-bold ff-peyda mb-3">لینک‌ها</h4>
              <a class="text-decoration-none text-secondary mb-3" href="#" target="_blank">گروه بازار سرمایه
                پاسارگاد</a>
            </div>
          </div>
        </div>
        <hr class="my-4 border border-1 border-secondary" />
        <h4 id="aboutUs" class="mb-4 text-justify text-secondary opacity-75 fw-medium">آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین گروه
          خدمات بازار
          سرمایه پاسارگاد است. این پلتفرم با هدف ایجاد دسترسی آسان، سریع و مطمئن برای تمامی سرمایه‌گذاران صندوق‌های
          پاسارگاد طراحی شده و امکان سرمایه‌گذاری مستقیم در مجموعه‌ای متنوع از صندوق‌های سرمایه‌گذاری شامل صندوق‌های
          درآمد ثابت، سهامی، طلا، قابل معامله (ETF) و سایر ابزارهای مالی تحت مدیریت گروه خدمات بازار سرمایه پاسارگاد را
          فراهم می‌سازد، به‌گونه‌ای که کاربران بدون نیاز به دانش تخصصی و صرف زمان طولانی، می‌توانند به سادگی و با
          اطمینان بالا وارد فرآیند سرمایه‌گذاری شوند. کلیه فعالیت‌های این سامانه در چارچوب ضوابط و مقررات سازمان بورس و
          اوراق بهادار جمهوری اسلامی ایران انجام می‌گیرد.
        </h4>
        <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
          <span class=" mb-3 mb-lg-0 text-black fw-medium">کلیه حقوق متعلق به گروه خدمات بازار سرمایه پاسارگاد است ©
            1404</span>
          <div>
            <a class="text-decoration-none text-black fw-medium" href="#" target="_blank">قوانین و مقررات</a> |
            <a class="text-decoration-none text-black fw-medium" href="#" target="_blank">امنیت و حریم خصوصی</a> |
            <a class="text-decoration-none text-black fw-medium" href="#" target="_blank">پیشنهادات و شکایات</a>
          </div>
        </div>
        <div class="my-4 d-flex">
            <img src="/images/iPasargad-footer.svg" class="img-fluid"  alt="آی‌پاسارگاد" loading="lazy">
            <img src="/images/iPasargad-dot.svg" class="img-fluid mt-4 me-3 pt-2"  alt="آی‌پاسارگاد" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>