<section class="section container-padding text-center" id="features">
  <h5 class="ff-peyda text-secondary mt-6">ویژگی‌های صندوق ریتون</h5>
  <h2 class="ff-peyda mb-5 px-3">چرا ریتون بهترین گزینه <br class="d-block d-sm-none d-lg-block" />سرمایه‌گذاری در طلا است؟</h2>
  <div class="ff-peyda row text-secondary mx-0 mb-5">
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/rhyton/feat-1.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">امکان سرمایه‌گذاری <br class="d-block d-sm-none d-lg-block" /> با مبالغ
        کم </h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/rhyton/feat-2.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">امن و مطمئن و تحت<br class="d-block d-sm-none d-lg-block" /> نظارت سازمان بورس</h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/rhyton/feat-3.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">خرید و فروش آنلاین <br class="d-block d-sm-none d-lg-block" /> با
        نقدشوندگی بالا
      </h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/rhyton/feat-4.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">سودآوری متناسب <br class="d-block d-sm-none d-lg-block" /> با بازده سکه
        و طلا</h3>
    </div>
  </div>

  <div class="card mx-4">
    <div class="card-body d-flex flex-column align-items-center">
      <h5 class="ff-peyda text-secondary mt-4 mt-lg-5">صندوق طلای ریتون</h5>
      <h2 class="ff-peyda mb-5">صندوق ریتون <br class="d-sm-none" /><span class="position-relative">
          مناسب چه کسانی
          <svg #animatedBlock class="underline mb-3" id="Layer_2" xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 196.11 19.64">
            <g id="Layer_1-2">
              <path
                d="M4.62,11.652S71.549,1.555,115.361,2.227c43.811.671,68.96,6.47,68.96,6.47l-39.812,1.528s27.945,2.708,47.075,6.246"
                fill="none" stroke="#FAAF16" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
            </g>
          </svg>
        </span>
        است؟
      </h2>
      <h4 class="mx-3 mx-lg-5 text-justify">

        سرمایه‌گذاری در صندوق طلای ریتون مناسب سرمایه‌گذارانی است که به دنبال <strong>سرمایه‌گذاری با حداقل هزینه</strong> در طلا به منظور
        <strong>حفظ ارزش سرمایه</strong> خود در برابر تورم هستند. این صندوق بهترین گزینه برای سرمایه‌گذاران با <strong>ریسک‌پذیری متوسط</strong> و
        <strong>دید بلند مدت</strong> است.

      </h4>
      <a href="https://app.ipasargad.ir/auth/reg/step1"
        class="btn btn-success text-white rounded-pill px-6 my-2 mb-5 py-3 d-flex gap-2 align-items-center">
        <div class="bg-white d-flex align-items-center justify-content-center"
          style="width: 20px; height: 20px; border-radius: 5px;">
          <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
        </div>
        سرمایه‌گذاری می‌کنم
      </a>

    </div>
  </div>
</section>