@if(showAccountsInfo()){
<div class="link-holder ff-peyda px-1 py-1">
  <span class="span-close cursor-pointer">
    <fa-icon size="lg" icon="close" class="text-white faq-item_icon" (click)="closeAccountData()"></fa-icon>
  </span>
  <div class="text-center mb-1 order-lg-1">
    <img src="./images/download/Download-ipasargad.webp" alt="همه امکانات یکجا" loading="lazy" class="img-fluid w-100"
      style="height: 100px;border-radius: 15px;">
  </div>
  <h4 class="px-2 text-white mb-0" style="font-size: 12px;font-weight: 800;">اپلیکیشن سرمایه‌گذاری آی‌پاسارگاد</h4>
  <span class="px-2 text-white d-flex text-justify small mb-2">فرصت‌های متنوع سرمایه‌گذاری در دسترس شما!
    برای نصب کلیک کنید </span>
  <div class="d-flex justify-content-center">
    <a href="/download" target="_blank" title="دانلود اپلیکیشن" style="text-decoration: none !important;" type="button"
      class="btn bg-black text-white py-2 px-4">
      <span class="mx-1 px-3">لینک نصب</span>
    </a>
  </div>
</div>
}