<div class="input-group bg-gray-150 custom-radius">
    <input type="password" id="field-{{ formControlName() }}"
        class="form-control password-custom-input rounded-0 ltr text-end" #passwordInput [(ngModel)]="passValue"
        [ngClass]="{'is-invalid': (showPasswordObligations() && !isStrongPassword) || isInvalid()}"
        (input)="detectChangeOnInput()"
        (focusout)="detectChangeOnInput()"
        required>
    <span class="input-group-text" (click)="changePasswordVisibility(passwordInput)">
        @if (passwordInput.type == 'password') {
        <fa-icon icon="eye-slash"></fa-icon>
        }
        @else {
        <fa-icon icon="eye"></fa-icon>
        }
    </span>
    <span class="input-group-text" appPasswordInput [passwordInput]="passwordInput" (keyvalue)="passValue=$event">
        <fa-icon icon="keyboard"></fa-icon>
    </span>
</div>
<app-keyboard></app-keyboard>
@if (showPasswordObligations()) {
<app-password-validator [passwordToCheck]="passValue" (validateValue)="onValidationUpdate($event)"></app-password-validator>
} 