<section class="section container-padding text-center" id="features">
  <!-- <h5 class="ff-peyda text-secondary mt-6">ویژگی‌های صندوق سهامی تکپاد</h5> -->
  <h2 class="ff-peyda mb-5 px-3">چرا صندوق‌های آی‌پاسارگاد؟</h2>
  <div class="ff-peyda row text-secondary mx-0 mb-5">
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-around feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/home/feat-1.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">بازدهی بالا</h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-around feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/home/feat-2.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">سرمایه‌گذاری در طلا</h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-around feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/home/feat-3.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">بازدهی بالاتر از سود بانکی</h3>
    </div>
    <div
      class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-around position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0 feat-image" src="./images/home/feat-4.svg" />
      <h3 class="px-4 px-lg-0 text-right text-lg-center">تبدیل پس‌انداز به سرمایه</h3>
    </div>
  </div>



</section>