<div class="bg-about about overflow-hidden">
  <div class="container-fluid">
    <div class="row ">
      <div class="w-100">
        <div class="card shadow-sm bg-ads">
          <div class="card-body p-4">
            <div class="text-center mb-5">
              <img height="120px" src="/images/logo-vertical.svg" alt="" />
            </div>
            <h4 class="fw-bold ff-peyda text-center mb-4">
              آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین پاسارگاد، راهکار جامع وحرفه‌ای برای سرمایه‌گذاری شماست
            </h4>
            <h4 class="mb-4 text-justify" style="line-height: 2rem;">
              آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین پاسارگاد، یک راهکار
              جامع و حرفه‌ای برای سرمایه‌گذاری است. ما با هدف تسهیل فرآیند
              سرمایه‌گذاری، خدمات مالی متنوعی را ارائه می‌دهیم که به شما این
              امکان را می‌دهد بدون نیاز به تخصص، به‌راحتی و با اطمینان
              سرمایه‌گذاری کنید. مشاوره رایگان و امنیت تضمین‌شده، به شما کمک
              می‌کند تا قدرت خرید خود را حفظ و از بازدهی مطمئن لذت ببرید.
            </h4>

            <h4 class="text-justify" style="line-height: 2rem;">
              ماموریت ما ارائه بهترین راهکارهای سرمایه‌گذاری برای تمامی افراد
              است. چشم‌انداز ما ایجاد یک اکوسیستم مالی پویا و شفاف برای رشد
              اقتصادی کشور می‌باشد. ما به فرهنگ احترام، شفافیت و مسئولیت اجتماعی
              پایبندیم و ارزش‌های خود را در تمام تعاملات‌مان حفظ می‌کنیم.
            </h4>
            <div class="row w-100">
              <div class="col-md-12">
                <div class="d-flex align-items-center mb-3">
                  <fa-icon [icon]="faEnvelope" size="lg" class="text-warning ms-2 d-flex align-items-center"></fa-icon>
                  <a href="mailto:info@ipasargad.ir" class="btn mb-0 fw-bold p-0 text-start">
                    <bdi class="text-nowrap">info&#64;ipasargad.ir</bdi>
                  </a>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <fa-icon [icon]="faPhone" size="lg" class="text-warning ms-2 d-flex align-items-center"></fa-icon>
                  <div class="d-flex  align-items-center">
                    <a href="tel:0982158241000" class="btn fw-bold mb-0 p-0">
                      <bdi class="text-nowrap"> ۰۲۱-۵۸۲۴۱۰۰۰</bdi>
                    </a>

                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <!-- <fa-icon [icon]="faLocation" size="lg" class="text-warning ms-2 d-flex align-items-center"></fa-icon>
                  <div class="d-flex  align-items-center flex-column fw-bold">
                    <span class="mb-2">
                      تهران – خیابان امیرآباد شمالی – خیابان فرشی مقدم – پلاک ۹۵
                    </span>
                    <span class="w-100">
                      کدپستی: ۱۴۳۹۸۳۵۱۳۳
                    </span>


                  </div> -->
                </div>
              </div>
              <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-end">
                  <div style="cursor: pointer; width: 100px; height: 100px;" class="enamad-container">
                    <a referrerpolicy='origin' target='_blank'
                      href='https://trustseal.enamad.ir/?id=540555&Code=OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9'><img
                        referrerpolicy='origin'
                        src='https://trustseal.enamad.ir/logo.aspx?id=540555&Code=OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9'
                        alt='' style='cursor:pointer' code='OEEGCIV130GFuY5RXBQKB1NcZ80kTLt9'></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
