<form [formGroup]="formGroup" (ngSubmit)="submit()" dir="rtl">
  <div class="card overflow-hidden">
    <div class="card-body px-5">

      <div class="mb-3 mt-2" [style.display]="step() =='step1' ? 'block' : 'none'">


        <div class="form-group my-4">
          <label class="form-label" for="nationalId">کد ملی</label>
          <input pattern="[0-9]*" mask="9*" inputmode="decimal" class="form-control ltr text-end" id="nationalId" type="text"
            [ngClass]="{'is-invalid': !formGroup.controls.nationalId.pristine && formGroup.controls.nationalId.touched && !formGroup.controls.nationalId.valid}"
            formControlName="nationalId" />
          <div class="small text-danger me-2 mt-1 invalid-feedback">لطفا کد ملی را وارد نمایید</div>
        </div>


      </div>

      <div [style.display]="step() == 'step2' ? 'block' : 'none'">
        <div (click)="preStep()" class="mb-5 mt-2 cursor-pointer d-flex">
          <fa-icon icon="angle-right" class="ms-2"></fa-icon>اصلاح کد ملی
        </div>

        <div class="form-group my-4">
          <label for="newPassword">رمز عبور</label>
          <app-password id="newPassword" formControlName="newPassword" [showPasswordObligations]="true" #password />
        </div>
        <div class="form-group mb-3">
          <label for="confirmPassword" class="mb-0">تکرار رمز عبور</label>
          <div class="input-group"
            [ngClass]="{'is-invalid': !formGroup.controls.confirmPassword.pristine && formGroup.controls.confirmPassword.touched && (!formGroup.controls.confirmPassword.valid || formGroup.errors?.['passwordMismatch'])}">

            <app-password id="confirmPassword" formControlName="confirmPassword"
              [isInvalid]="!formGroup.controls.confirmPassword.pristine && formGroup.controls.confirmPassword.touched && (!formGroup.controls.confirmPassword.valid || formGroup.errors?.['passwordMismatch'])"
              #confirmPassword required />
          </div>
          <div class="small text-danger me-2 mt-1 invalid-feedback">
            @if (formGroup.errors?.['passwordMismatch']){
            <span>رمز عبور و تکرار آن یکسان نیست</span>
            }@else {
            <span>لطفا تکرار رمز عبور را وارد نمایید</span>
            }
          </div>
        </div>



        <div class="form-group mb-4">
          <label class="form-label" for="otp">کد تایید</label>
          <input pattern="[0-9]*" mask="9*" inputmode="decimal" name="otp" type="text" id="otp" class="form-control ltr text-end"
            formControlName="otp"
            [ngClass]="{'is-invalid': !formGroup.controls.otp.pristine && formGroup.controls.otp.touched && !formGroup.controls.otp.valid}"
            required />

          <div class="small text-danger me-2 mt-1 invalid-feedback">لطفا کد تایید را وارد نمایید</div>
        </div>




      </div>

      <div class="form-group mb-5">
        <label class="form-label" for="captcha">کد امنیتی</label>
        <div class="input-group"
          [ngClass]="{'is-invalid': !formGroup.controls.captcha.pristine && formGroup.controls.captcha.touched && !formGroup.controls.captcha.valid}">
          <input pattern="[0-9]*" mask="9*" inputmode="decimal" type="text" maxlength="4" minlength="4"
            class="form-control ltr text-end"
            [ngClass]="{'is-invalid': !formGroup.controls.captcha.pristine && formGroup.controls.captcha.touched && !formGroup.controls.captcha.valid}"
            formControlName="captcha" id="captcha" required />
          @if(generatedCaptchaValue()) {
          <span class="input-group-text p-0 captcha" (click)="generateNewCaptcha()">
            <fa-icon class="mx-2" icon="sync"></fa-icon>
            <img [src]="generatedCaptchaValue().captchaByteData" class="img-fluid ms-2" [style.height]="'30px'" />
          </span>
          }
        </div>
        <div class="small text-danger me-2 mt-1 invalid-feedback">لطفا کد امنیتی را وارد نمایید</div>
      </div>

      @if(errorMessage()){
      <div class="my-4">
        <p class="text-danger text-center mb-0">* {{ errorMessage() }}</p>
      </div>
      }
    </div>
    <div class="card-footer d-flex">
      <a routerLink="/auth/login" class="flex-fill btn btn-gray-150 m-2 fw-semibold">
        ورود
      </a>
      <app-loading-button class="w-100 m-2" [isLoading]="submitting()"
        [disabled]="isBtnDisabled" [type]="'submit'"
        cssClass="btn btn-primary">
        @if (step() === 'step1') {
          ارسال کد تایید
          } @else {
          تغییر کلمه عبور
          }
        </app-loading-button>
    </div>
  </div>

</form>