<div class="gradient-bg">
  <div class="gradients-container position-absolute">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g5"></div>
    <div class="interactive"></div>
  </div>
  <div class="d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative text-white p-4"
      style="width: 1064px;">
      <div class="d-block d-lg-none">
        <div class="h-100 d-flex align-items-center justify-content-betweeen">
          <img src="/images/home/Pcm_Logo_Rgb_V_Fa_W.svg" style="height: 10vh;" alt="پاسارگاد-گروه خدمات بازار سرمایه"
            class="mb-0 mb-md-2 mt-5 mt-md-0 up-transition" loading="lazy" />
          <h4 class="mb-2 mb-md-3 mb-sm-4 ff-peyda mt-2 up-transition">سامانه سرمایه‌گذاری آی‌پاسارگاد</h4>
          <img src="/images/gift/Group-20093.webp" alt=" درصد سود بیشتر" class="my-3 vase-management " loading="lazy" />


          <h3 class="md-5 col-lg-20 text-center mt-0 mb-5 up-transition">
            با آی‌پاسارگاد، سرمایه‌گذاری ساده و مطمئن را تجربه کنید.
          </h3>
        </div>
      </div>
      <img src="/images/home/Pcm_Logo_Rgb_V_Fa_W.svg" style="height: 10vh;" alt="پاسارگاد-گروه خدمات بازار سرمایه"
        class="mb-0 mb-md-2 mt-5 mt-md-0 up-transition" loading="lazy" />
      <h4 class="mb-2 mb-md-3 mb-sm-4 ff-peyda mt-2 up-transition">سامانه سرمایه‌گذاری آی‌پاسارگاد</h4>
      <img src="/images/gift/Group-20093.webp" alt="28 درصد سود بیشتر" class="my-3 vase-management" loading="lazy" />




      <fa-icon id="down-icon" icon="caret-down" size="lg" class="arrow arrow-end text-white "
        style="font-size: 1.2rem;"></fa-icon>
    </div>
  </div>


</div>


<div class="d-block d-lg-none w-100">
  <div class="content-container ">
    <div class=" content-holder container-width h-100">
      <div class="row h-100 mx-0 h-100">
        <div class="col-md-17 mx-auto h-100">
          <div class="h-100 d-flex align-items-center justify-content-center flex-column">
            <img src="/images/home/Pcm_Logo_Rgb_V_Fa_W.svg" style="height: 10vh;" alt="پاسارگاد-گروه خدمات بازار سرمایه"
              class="mb-0 mb-md-2 up-transition" loading="lazy" />
            <h4 class="ff-peyda mt-2 up-transition">سامانه سرمایه‌گذاری آی‌پاسارگاد</h4>
            <h3 class="mb-2 mb-md-3 mb-sm-4 ff-peyda mt-2 up-transition">با آی‌پاسارگاد، سرمایه‌گذاری ساده و مطمئن را
              تجربه کنید.</h3>

            <!-- <img src="/images/28percent.svg" alt="28 درصد سود بیشتر" class="my-3" style="max-width: 80%;height: 31vh;"
                loading="lazy" /> -->
            <img src="/images/gift/Group-20093.webp" alt="28 درصد سود بیشتر" class="my-5 vase-management up-transition"
              loading="lazy" />


            <h3 class="md-5 col-lg-20 text-center mt-0 mb-5">

            </h3>
            <div class="d-none d-lg-block w-75">
              <span class="d-flex">
                <a href="https://app.ipasargad.ir/auth/login"
                  class="border-1 btn btn-gray-150 btn-outline-secondary  mx-2 login-btn w-50">ورود</a>
                <a href="https://app.ipasargad.ir/auth/reg/step1" class="btn btn-primary  mx-2 w-50"
                  style="white-space: nowrap;">شروع
                  سرمایه گذاری</a>
              </span>
            </div>


            <div class="w-100 text-center d-flex justify-content-center auth-container">
              <div class="navbar navbar-expand-sm fixed-bottom  d-md-none m-2 rounded p-2 d-block" style="bottom: 65px;">                
                <div class="download-btn">
                  <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank" title="دانلود مستقیم" style="all: unset !important;">
                    <span class="me-1 ff-peyda">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24" style="width: 33px;">
                      <g id="Group_646" data-name="Group 646">
                        <path id="Path_1428" data-name="Path 1428" class="cls-2" d="M12,17.5V6.5"/>
                        <path id="Path_1429" data-name="Path 1429" class="cls-1" d="M6.7,12.7l4.5,4.6c.4.4,1.1.4,1.5,0,0,0,0,0,0,0l4.5-4.6"/>
                        <path id="Path_1430" data-name="Path 1430" class="cls-1" d="M12,21.5c5.2,0,9.5-4.3,9.5-9.5S17.2,2.5,12,2.5,2.5,6.8,2.5,12s4.3,9.5,9.5,9.5Z"/>
                      </g>
                    </svg>
                    اپلیکیشن سرمایه‌گذاری آی‌پاسارگاد
                    </span>         
                  </a>
                  <a href="/download" target="_blank" title="دانلود اپلیکیشن" style="all: unset !important;">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24" style="width: 45px;">
                      <path id="Path_2575" data-name="Path 2575" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round"
                            d="M12,1.7c-5.7,0-10.3,4.6-10.3,10.3s4.6,10.3,10.3,10.3,10.3-4.6,10.3-10.3c0-2.7-1.1-5.3-3-7.3-1.9-1.9-4.5-3-7.2-3ZM17.5,13h-9l3.5,3.6c.4.4.3,1.1-.1,1.4-.4.3-.9.3-1.3,0l-4.5-4.5c-.2-.2-.3-.4-.4-.7-.2-.5-.2-1.1,0-1.6.1-.3.3-.5.4-.7l4.5-4.5c.4-.4,1-.4,1.4,0s.4,1,0,1.4h0l-3.6,3.6h9.1c.6,0,1,.4,1,1s-.4,1-1,1h0Z"/>
                    </svg>         
                  </a>                                    
                </div>
              </div>
              <div class="navbar navbar-expand-sm fixed-bottom  d-md-none m-2 rounded p-2"
                style="background-color: #0006;backdrop-filter: blur(10px);">
                <!-- <a routerLink="/" class="h-100 text-decoration-none bg-primary text-white rounded">
                    <img  src="/images/logo-white.svg" alt="logo" />
                  </a> -->
                <a href="https://app.ipasargad.ir/auth/login"
                  class="border-1 btn btn-gray-150 btn-outline-secondary  mx-2 login-btn" style="flex: 1;">ورود</a>
                <a href="https://app.ipasargad.ir/auth/reg/step1" class="btn btn-primary  mx-2" style="flex: 1;"
                  style="white-space: nowrap;">شروع سرمایه گذاری</a>
              </div>
            </div>

            <!-- <div class="w-100 text-center d-flex justify-content-center auth-container">
              </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 d-flex justify-content-center">
  <div style="width: 1064px;border-right: 1.5px dashed;border-left: 1.5px dashed;border-color: #BEC8D2;">
    <div class="content-container">
      <div class="d-flex flex-column">
        <section class="bg-features features pt-5 mb-4" id="features">
          <div class="container-fluid ">
            <div class="row">
              <div class="w-100">
                <div class="text-center">
                  <h4 class="ff-peyda my-3" style="color: #999999;">
                    ویژگی‌های کارت هدیه آی‌پاسارگاد
                  </h4>

                  <h3 class="mb-3" style="color: #333333;">
                    با کارت هدیه آی‌پاسارگاد، سرمایه‌گذاری هدیه کنید
                  </h3>
                  <p class="text-justify p-3" style="line-height: 2rem;">
                    «کارت هدیه آی‌پاسارگاد، یک کارت هدیه از جنس «هدیه سرمایه‌گذاری» است که توسط گروه بازار سرمایه
                    پاسارگاد و
                    برای فراهم کردن یک انتخاب متفاوت و آینده‌نگر برای «هدیه دادن» طراحی و ارائه شده است. با کارت
                    آی‌پاسارگاد، برخلاف کارت‌های هدیه معمولی، ما مفتخریم تا هدیه‌ای از جنس سرمایه‌گذاری را تقدیم شما
                    ‌کنیم.»
                  </p>
                </div>
              </div>



            </div>
          </div>



        </section>
        <section class="mb-3">
          <div class="d-flex">
            <img src="images/gift/Group 20105.webp" style="width: 100%;">
          </div>
        </section>

        <section class="container-width d-flex align-items-center flex-column container-padding">
          <div class="container-fluid h-100">
            <div class="row h-100 overflow-hidden">
              <div class="w-100">
                <div class="card shadow-sm mb-4 bg-steps w-100">
                  <div class="card-body p-4">
                    <div class="text-center mb-5">
                      <h4 class="mb-4 fw-bold" style="color:#666666">
                        نحوه استفاده
                      </h4>

                      <h3 class="fw-bold lh-lg ff-peyda" style="color:#333333">
                        مراحل فعالسازی کارت هدیه آی‌پاسارگاد
                      </h3>
                    </div>

                    <!-- <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      ۱- وارد سامانه سرمایه‌گذاری آنلاین آی‌پاسارگاد به آدرس ipasargad.ir شوید؛
                    </h4> -->

                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      1- اگر قبلاً در آی‌پاسارگاد ثبت‌نام نکرده‌اید، ابتدا لازم است ثبت‌نام کنید. (اگر قبلاً ثبت‌نام
                      کرده‌اید، گزینه «ورود» را انتخاب کنید و وارد سامانه شوید.)
                    </h4>
                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      در صورتی که ثبت‌نام نکرده‌اید:
                      <ul>
                        <li>روی گزینه «شروع سرمایه‌گذاری» کلیک کنید؛</li>
                        <li>
                          کدملی و شماره همراه خود را وارد کرده و ثبت‌نام خود را تکمیل نمایید؛
                        </li>
                        <li>
                          فرآیند ثبت‌نام به‌سادگی و با فراخوانی اطلاعات شما از سامانه سجام انجام می‌شود و تنها چند دقیقه
                          زمان می‌برد؛

                        </li>
                        <li>
                          اگر مشتری قدیمی «صندوق هزاره سوم پاد» هستید و برای اولین بار به آی‌پاسارگاد مراجعه می‌کنید،
                          لازم است اطلاعات خود را از طریق گزینه «بروزرسانی از سجام» در بخش پروفایل کاربری بروزرسانی و
                          نهایی کنید.

                        </li>
                      </ul>
                    </h4>
                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                     2- پس از ثبت‌نام و ورود به سامانه:
                      <ul>
                        <li>در مرورگر رایانه، از منوی سمت راست، گزینه <strong>«کارت هدیه»</strong> را انتخاب کنید.</li>
                        <li>در مرورگر موبایل، روی منوی ابزارها که در وسط نوار پایین صفحه گوشی قرار دارد، کلیک کنید و سپس
                          گزینه <strong>«کارت هدیه»</strong> را انتخاب نمایید.</li>
                      </ul>
                    </h4>
                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      3- پوشش روی کد هدیه را خراش دهید؛
                    </h4>
                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      4- کد 16 رقمی چاپ‌شده روی کارت هدیه را در کادر مربوطه وارد کنید و گزینه «ثبت کد» را انتخاب نمایید؛
                    </h4>
                    <h4 class="mb-2 text-justify ff-peyda" style="line-height:2rem">
                      5- واحدهای سرمایه‌گذاری صندوق در موعد مقرر بنام شما صادر خواهند شد.
                    </h4>
                    <div class="bg-gray-50 mt-5 mb-3">
                      <div class="row mt-3">
                        <div class="col-lg-8 col-md-8 col-sm-13 mx-auto mb-3">

                          <div class="card  step-item h-100 px-0">
                            <div class="card-body position-relative p-0">
                              <img src="./images/gift/Group 20133.webp" class="img-fluid mx-auto d-flex"
                                alt="ثبت‌نام یا ورود به آی پاسارگاد" loading="lazy" />
                            </div>
                          </div>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-13 mx-auto mb-3">

                          <div class="card  step-item h-100 px-0 arrow-icons">
                            <div class="card-body position-relative p-0">
                              <img src="./images/gift/Group 20132.webp" class="img-fluid mx-auto d-flex"
                                alt="ثبت کارت هدیه" loading="lazy" />
                              <fa-icon icon="caret-down" size="lg" class="arrow arrow-start"></fa-icon>
                              <fa-icon icon="caret-down" size="lg" class="arrow arrow-end"></fa-icon>
                            </div>
                          </div>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-13 mx-auto mb-3">

                          <div class="card step-item h-100 arrow-icons px-0">
                            <div class="card-body position-relative p-0">
                              <img src="./images/gift/Group 20131.webp" class="img-fluid mx-auto d-flex"
                                alt="صدور واحدهای صندوق" loading="lazy" />
                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="w-100 p-2">
                        <div class="d-flex mb-2 justify-content-center w-100">
                          <div class="" style="display: flex;">
                            <a href="https://app.ipasargad.ir/gift-card" target="_blank" class="border-1 btn btn-success  text-white ms-2"
                              style="border-radius: 23px;white-space: nowrap;">ثبت کارت هدیه</a>
                            <a target="_blank" href="https://academy.ipasargad.ir/ipasargad-gift-card" class="btn"
                              style="white-space: nowrap;border: 1px solid #4E6276;color: #4E6276;border-radius: 23px;">
                              راهنمای تصویری </a>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

                <div class="text-center mt-1 my-4">
                  <div class="text-center mb-5">
                    <h4 class="ff-peyda my-3" style="color: #999999;">
                      ویژگی‌های کارت هدیه آی‌پاسارگاد
                    </h4>

                    <h3 class="mb-3" style="color: #333333;">
                      با کارت هدیه آی‌پاسارگاد، سرمایه‌گذاری هدیه کنید
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section class="mb-4 w-100 ff-peyda">
            <div class="row mx-0">
              <div class="col-md-6 col-12 mb-3">
                <div class="card p-3 d-flex flex-column align-items-center justify-content-evenly h-100">
                  <div>
                    <div class="mt-2 w-100 d-flex justify-content-center">
                      <img src="images/gift/Group 20109.svg" alt="Card image" style="width: 58%;">
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <h5 class="card-title">
                      هدیه‌ای متصل به صندوق‌های
                      <br />
                     سرمایه‌گذاری پاسارگاد
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-12 mb-3">
                <div class="card p-3 d-flex flex-column align-items-center justify-content-evenly h-100">
                  <div>
                    <div class="w-100 d-flex justify-content-center mt-2">
                      <img src="images/gift/Group 20111.svg" alt="Card image" style="width: 58%;">
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <h5 class="card-title">
                      هدیه‌ای متفاوت
                      <br />
                      از جنس سرمایه‌گذاری
                    </h5>
                  </div>
                </div>

              </div>
              <div class="col-md-6  col-12 mb-3">
                <div class="card p-3 d-flex flex-column align-items-center justify-content-evenly h-100">
                  <div>
                    <div class="w-100 d-flex justify-content-center mt-2">
                      <img src="images/gift/Group 20114.svg" alt="Card image" style="width: 58%;">
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <h5 class="card-title">
                      هدیه‌ای با امکان رشد
                      <br />
                       ارزش در آینده
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-12 mb-3">

                <div class="card p-3 d-flex flex-column align-items-center justify-content-evenly h-100">
                  <div>
                    <div class="w-100 d-flex justify-content-center mt-2">
                      <img src="images/gift/Group 20118.svg" alt="Card image" style="width: 58%;">
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <h5 class="card-title" style="white-space: nowrap;">
                      هدیه‌ای نقدشونده
                      <br />

                      و قابل تبدیل به نقد در هر زمان
                    </h5>
                  </div>
                </div>
              </div>

            </div>
          </section>
          <section class="mb-0 w-100" id="content">
            <div class="container-fluid h-100">
              <div class="row h-100">
                <div class="w-100">
                  <div class="row">
                    <div class="col-md-24 mb-4 ">
                      <div class="card h-100 shadow-sm bg-panel-support">
                        <div class="card-body pt-4 text-center bg-panel-svg">
                          <div class="row h-100">
                            <div class="col-md-12">
                              <h2 class="mb-4 fw-bold ff-peyda"> نیاز به راهنمایی بیشتر دارید؟</h2>
                              <h4 class="mb-4 px-lg-3 text-justify">
                                با تیم پشتیبانی آی‌پاسارگاد تماس بگیرید
                              </h4>
                            </div>
                            <div class="col-md-12 d-flex align-items-end justify-content-center">

                              <div
                                class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center w-50">
                                <a href="tel:+982158241000" class="d-flex align-items-center flex-column" style="text-decoration: none;">
                                  <bdi class="d-flex align-items-center">
                                    <fa-icon size="md" icon="angle-left" class="me-2"></fa-icon>
                                    <h5 class="text-light mb-0 me-1">(021)</h5>
                                    <h4 class="text-white mb-0">58241</h4>
                                  </bdi>
                                </a>
                                <!-- <a href="tel:00982158241000"
                                  class="w-100 btn btn-link fs-6 text-decoration-none w-50 text-white"
                                  style="white-space: nowrap;">
                                  ۰۲۱-۵۸۲۴۱

                                </a> -->
                              </div>

                              <!-- <div>
                                <div
                                  class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center w-50">
                                  <a href="tel:0982158241000" class="w-100 btn btn-link fs-6 text-decoration-none w-50 text-white"
                                    style="white-space: nowrap;">
                                    ۰۲۱-۵۸۲۴۱
        
                                    <fa-icon size="sm" icon="angle-left" class="me-1"></fa-icon>
                                  </a>
                                </div>
        
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <app-footer></app-footer>
        </section>
      </div>
    </div>
  </div>
</div>




<app-contact-gadget [isShowAccountsInfo]="false"></app-contact-gadget>
<app-linking-gadget id="linkingGadget"></app-linking-gadget>