.given-benefit {
  position: absolute;
  opacity: 0.7;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  background-color: #1a2cfd;
  color: white;
}
.vertical-banner,
.banner-loading-placeholder {
  aspect-ratio: 1.4 / 1;
}

.banner-loading-placeholder {
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(90deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
  display: block;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


/* skeleton base */
.skeleton {
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 50%,
    #e0e0e0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
  border-radius: 6px;
}

/* card skeleton */
.card-skeleton {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  height: 190px;
}

/* image section */
.card-skeleton__image {
  width: 100%;
  min-width: 100%;
}

/* content section */
.card-skeleton__content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}