<section class="section bg-calculator calculator container-padding" id="calculator">
  <div class="px-4">
    <div class="col-lg-24 mx-auto rounded my-5">
      <div class="main-bg pt-3">
        <div class="card bg-purple" style="opacity: 0.9;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 text-white px-2 px-sm-4">
                <h2 class="ff-peyda text-center text-lg-end mb-3 px-2 mt-5">سرمایه‌گذاری آسان <br class="d-sm-none" />در طلا
                  و سکه با
                  ریتون
                </h2>
                <h5 class="ff-peyda text-center text-lg-end px-2">صندوق قابل معامله ریتون</h5>
                <h6 class="mb-0 opacity-75 fs-6 px-2 text-justify">صندوق طلای جام زرین پاد، یک صندوق سرمایه‌گذاری مبتنی
                  بر
                  سکه و طلاست. این صندوق از نوع قابل معامله در بورس است و با نماد «ریتون» معامله می‌شود. ریتون سرمایه
                  جمع‌آوری
                  شده از سرمایه‌گذاران را در گواهی سپرده سکه طلا و گواهی سپرده شمش طلا سرمایه‌گذاری می‌کند و
                  سرمایه‌گذاری
                  در این صندوق، معادل خرید طلا و سکه است. سود سرمایه‌گذاری در صندوق ریتون با تغییر قیمت طلا و سکه تعیین
                  می‌شود.</h6>
              </div>
              <div class="col-lg-12 px-3 px-sm-4">
                <div class="align-items-center bg-light bg-opacity-10  mt-4 mb-2 mb-sm-3 rounded">
                  <img src="./images/rhyton/Group_25450.svg" class="mw-100" height="288"/>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="downloads flex-column flex-lg-row">
          <div class="align-items-start d-flex mt-2 ms-auto">
            <img src="./images/rhyton/circle-exclamation.png" class="ms-2 mt-1" style="width: 15px;" />
            <div class="d-flex align-item-center flex-wrap text-nowrap fs-6">
              برای دریافت اطلاعات بیشتر
              می‌توانید از لینک‌های <span class="d-none d-lg-block mx-1">روبرو</span><span
                class="d-lg-none mx-1">زیر</span> استفاده نمایید.
            </div>
          </div>
          <div class="d-flex mt-3 mt-lg-0">
            <a href="https://goldpod.ir/Home/Statute" class="download-link">
              <img src="./images/globe.png" style="width: 18px;" />
              اساسنامه صندوق</a>
            <a href="https://goldpod.ir/Home/Prospectus" class="download-link me-2">
              <img src="./images/globe.png" style="width: 18px;" />
              امید‌نامه صندوق</a>
          </div>
        </div>
      </div>

      <div class="mb-5 card">
        <div class="card-body p-4 text-center">

          <h5 class="ff-peyda text-secondary mt-5">مقایسه انواع سرمایه‌گذاری در طلا</h5>
          <h2 class="ff-peyda mb-5">
            <span class="line-container d-block d-sm-inline-block mx-auto">
              صندوق ریتون،
              <br class="d-sm-none" />
              <br class="d-sm-none" />
              <svg #animatedBlock class="line" xmlns="http://www.w3.org/2000/svg" version="1.1"
                viewBox="0 0 162.125 53.228">
                <g>
                  <path
                    d="M55.567,50.209c26.827-5.456,56.671-11.006,81.388-19.875,6.954-2.554,12.717-5.219,16.565-7.824,20.109-14.13-20.681-18.487-30.542-19.194-33.28-2.221-70.104.249-101.096,10.058-9.205,2.89-29.159,12.071-12.544,20.216,15.652,6.714,37.602,7.808,56.92,9.165,17.376.964,34.85,1.347,52.322,1.78"
                    fill="none" stroke="#FAAF16" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                </g>
              </svg>
            </span>
            بهترین جایگزین خرید فیزیکی و آنلاین طلا!
          </h2>
          <h4 class="mx-3 mx-lg-5 text-justify mb-4">خرید طلا همواره یک گزینه جذاب برای سرمایه‌گذاری است. روش‌های مختلفی مثل خرید فیزیکی، خرید آنلاین و
            صندوق‌های سرمایه‌گذاری برای سرمایه‌گذاری در طلا وجود دارد. صندوق طلای ریتون یکی از معتبرترین صندوق‌های طلا
            است که بهترین جایگزین برای خرید فیزیکی طلا و خرید آنلاین آن است که تمامی چالش‌های این دو روش را برطرف
            می‌کند.</h4>
          <div class="ff-peyda row mb-5">
            <div class="col-lg-8 order-1 order-lg-0 pb-4 pb-lg-0">
              <div class="investment-type-container">
                <div class="investment-type">
                  <div class="investment-title rounded-pill mt-n9 mb-5 mt-lg-auto mb-lg-3">خرید طلای فیزیکی</div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">کارمزد</span>
                    <span class="opacity-50 text-danger">دارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">مالیات</span>
                    <span class="opacity-50 text-danger">دارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">امنیت</span>
                    <span class="opacity-50 text-danger">پایین</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">خرید و فروش</span>
                    <span class="opacity-50 text-danger">حضوری</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">نظارت قانونی</span>
                    <span class="opacity-50 text-danger">ندارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">حداقل مبلغ سرمایه‌گذاری</span>
                    <span class="opacity-50 text-danger">زیاد</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 order-0 order-lg-1 pb-4 pb-lg-0">
              <div class="investment-type-container second">
                <div class="investment-type">
                  <div class="investment-title rounded-pill mt-n9 mb-5 mt-lg-auto mb-lg-3">سرمایه‌گذاری در صندوق ریتون
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">کارمزد</span>
                    <span class="text-success fw-bold">ندارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">مالیات</span>
                    <span class="text-success fw-bold">ندارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">امنیت</span>
                    <span class="text-success fw-bold">بالا</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">خرید و فروش</span>
                    <span class="text-success fw-bold">آنلاین</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">نظارت قانونی</span>
                    <span class="text-success fw-bold">تحت نظارت</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">حداقل مبلغ سرمایه‌گذاری</span>
                    <span class="text-success fw-bold">دلخواه</span>
                  </div>
                  <a href="https://app.ipasargad.ir/auth/reg/step1"
                    class="btn btn-success my-2 py-2 rounded-pill text-white">سرمایه‌گذاری می‌کنم</a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 order-2">
              <div class="investment-type-container last">
                <div class="investment-type">
                  <div class="investment-title rounded-pill mt-n9 mb-5 mt-lg-auto mb-lg-3">خرید آنلاین طلا</div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">کارمزد</span>
                    <span class="opacity-50 text-danger">دارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">مالیات</span>
                    <span class="text-success fw-bold">ندارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">امنیت</span>
                    <span class="opacity-50 text-danger">پایین</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">خرید و فروش</span>
                    <span class="text-success fw-bold">آنلاین</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">نظارت قانونی</span>
                    <span class="opacity-50 text-danger">ندارد</span>
                  </div>
                  <div
                    class="investment-feature d-flex flex-lg-column justify-content-between px-4 px-lg-0 gap-3 py-4 align-items-center">
                    <span class="opacity-50">حداقل مبلغ سرمایه‌گذاری</span>
                    <span class="text-success fw-bold">دلخواه</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>