<div class="communicate-holder ff-peyda px-3">
  <div class="d-flex align-items-center w-100 h-100 justify-content-between">
    <!-- <span style="background-color:#F5FAFF;border-radius: 9px; "> -->
    <img src="/svg/ico_phone_call.svg" class="p-2" loading="lazy" alt="شماره تماس" style="width: 15%;" />
    <!-- </span> -->
    <div class="d-flex flex-column align-items-center cursor-pointer">
      <a href="tel:+982158241000" class="d-flex align-items-center flex-column" style="text-decoration: none;">
        <bdi class="d-flex align-items-center">
          <h5 class="text-light mb-0 me-1">(021)</h5>
          <h4 class="text-white mb-0">58241</h4>
        </bdi>
        <span class="d-flex align-items-center" style="direction: ltr;">
          <h6 class="text-light mb-0 me-1">(021)</h6>
          <h6 class="text-white mb-0">58241000</h6>
          <h6 class="text-white mb-0 ms-1">
            (داخلی 1)
          </h6>
        </span>
      </a>
    </div>
    <button class="btn chat-btn text-white" id="goftino-web">
      چت آنلاین
    </button>
  </div>
</div>
<div id="goftino-mobile" class="goftino-container"
  style="width: 50px;height: 50px; border-radius: 7px;background-color: #666666;">
  <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <img src="/svg/ico_headphone.svg" class="p-2" loading="lazy" alt="شماره تماس" style="width: 100%;z-index: 1000;" />

  </div>
</div>

<a class="phone-container" href="tel:+982158241000">
  <div style="width: 50px;height: 50px; border-radius: 7px;background-color: #666666;">
    <img src="/svg/ico_phone_call.svg" class="p-2" loading="lazy" alt="شماره تماس" style="width: 100%;z-index: 1000;" />
  </div>
</a>