<section class="section container-padding text-center mt-n8 mb-5" id="features">
  <div class="card mx-4">
    <div class="card-body d-flex flex-column align-items-center p-2 p-md-4 ff-peyda ">
      <div class="row w-100 mx-n2 mb-2">
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-1.svg" alt="">
            <h3>سرمایه‌گذاری در انواع صندوق‌های سرمایه‌گذاری</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-2.svg" alt="">
            <h3>دسترسی به گزارش‌های جامع سرمایه‌گذاری</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-3.svg" alt="">
            <h3>روش‌های متنوع پرداخت <br/><br/></h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-4.svg" alt="">
            <h3>سرمایه‌گذاری خودکار با مبلغ و زمان دلخواه شما</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-5.svg" alt="">
            <h3>کارت هدیه سرمایه‌گذاری</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-6.svg" alt="">
            <h3>سرمایه‌گذاری مجدد از سود</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-7.svg" alt="">
            <h3>تجربه کاربری ساده و آسان</h3>
          </div>
        </div>
        <div class="col-12 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-column">
            <img src="/images/download/feat-8.svg" alt="">
            <h3>امنیت بالای سرمایه‌گذاری</h3>
          </div>
        </div>
        <div class="col-24 col-md-8 p-2 p-md-3 d-flex">
          <div class="feature-item d-flex flex-md-column">
            <img src="/images/download/feat-9.svg" alt="">
            <h3 class="mb-0">سرمایه‌گذاری در 24 ساعت روز و 7 روز هفته</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>