@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
$color: #ffffff;
$color1: #ffffff88;
$color2: #ffffff55;
$color3: #ffffff22;
$color4: #ffffff11;

:host {
  background:  url("../../../public/images/body-bg.png") repeat-y center center, url("../../../public/images/Background.png") repeat ;
  @include media-breakpoint-down(lg) {
    background-image: none;
  }

  .bg-header {
    background-image: url("../../../public/images/bg-top.svg"), url("../../../public/images/bg-glow-top.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-x: 0;
    background-position-y: -100px;

    @include media-breakpoint-down(md) {
      background-size: 300%;
    }
  }

  .header {
    // padding: 10rem 0 0;

    @include media-breakpoint-down(md) {
      padding: 7rem 0 0;
    }
  }

  .header {
    .btn {
      max-width: 200px;
      width: 100%;
      padding: 12px 32px;
    }
  }

  .roller {
    // width: 174px;
    display: flex;
    justify-content: center;
    height: 40px; /* خیلی مهم */
    overflow: hidden;
    position: relative;
  }
  
  .roll-logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: slide 6s infinite;
  }
  
  .roll-logo img {
    height: 35px;
    margin: 3px 0;
  }

  @keyframes slide {
    0%   { transform: translateY(0); }
    33%  { transform: translateY(0); }
  
    34%  { transform: translateY(-40px); }
    66%  { transform: translateY(-40px); }
  
    67%  { transform: translateY(-80px); }
    100% { transform: translateY(-80px); }
  }


  .auth-container {
    display: flex;

    a {
      flex: 1;
    }

    @include media-breakpoint-down(md) {
      position: fixed;
      bottom: 0;
      z-index: 2;
      background-color: var(--bs-gray-200);
    }
  }

  .bg-panel-support {
    background: transparent linear-gradient(233deg, #9e6eff 0%, #6633cc 100%) 0% 0% no-repeat padding-box;

    > .bg-panel-svg {
      background-image: url("../../../public/images/support.svg");
      background-color: transparent;
      color: var(--bs-white);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      @include media-breakpoint-down(md) {
        background-image: url("../../../public/images/support-m.svg");
      }
    }
  }

  .bg-panel-investing {
    background: transparent linear-gradient(233deg, #0055ff 0%, #9e6eff 100%) 0% 0% no-repeat padding-box;

    > .bg-panel-svg {
      background-image: url("../../../public/images/academy.svg");
      background-color: transparent;
      color: var(--bs-white);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;

      @include media-breakpoint-down(md) {
        background-image: url("../../../public/images/academy-m.svg");
      }
    }
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .accordion-card-item.expanded .accordion-content {
    max-height: 100%;
    opacity: 1;
    margin-top: 1rem;
    text-align: justify;
  }

  @media (min-width: 1440px) {
    .bg-faqs {
      background: url("../../../public/images/bg-end.png") no-repeat bottom;
      background-size: contain;
      min-height: 700px;
    }
  }

  // .bg-home {
  //     background: url("../../../public/images/Background.png") no-repeat bottom;
  //     background-repeat: repeat;
  // }

  .faq-item_question {
    max-width: 90%;
  }

  .faq-item_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bs-gray-275);
    text-align: center;
    align-content: center;
  }

.gradient-bg {
  width: 100%;
  min-height: 340px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, #6d3ad2, #6a38d0);

  &-2 {
    background: linear-gradient(40deg, #6a38d0, #9362f5);
  }

  @include media-breakpoint-down(lg) {
    // height: 100vh;
  }
  
  border-radius: 25px;
  
}

.gradient-position{
  position: relative;
  width: 100%;
  z-index: 9;
  top: 210px;

  @include media-breakpoint-down(lg) {
      top: unset !important;
      bottom: 90px;
  }
  
}

  .gradient-bg,
.gradient-bg-2 {
  .gradients-container {
    filter: blur(100px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, #6d3ad2 0, #9362f5 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: center center;
    animation: moveVertical 40s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(109, 58, 210, 0.64) 0, rgba(147, 98, 245, 0.66) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 28s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, #a58be7 0, rgba(147, 98, 245, 0.72) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2 + 200px);
    left: calc(50% - 80% / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 55s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, #6a38d0 0, #9362f5 50%) no-repeat;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 55s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, #6a38d0 0, #6d3ad2 50%) no-repeat;
    mix-blend-mode: multiply;

    width: calc(80% * 2);
    height: calc(80% * 2);
    top: calc(50% - 80%);
    left: calc(50% - 80%);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 30s ease infinite;

    opacity: 0.7;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, #7d56d8 0, rgba(147, 98, 245, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
  .gradient-bg-2 {
    .g1,
    .g2,
    .g3,
    .g4,
    .g5 {
      opacity: 0.3;
    }
  }

  .gradient-bg > div:not(.gradients-container) {
  position: relative;
  z-index: 2;
  }
  
  .gradients-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }

  /* Keyframes for animations */
  /* Keyframes for animations */
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }

    50% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }

    50% {
      transform: translateX(50%) translateY(10%);
    }

    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-holder {
    width: 1064px;
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
  }

  .container-width {
    width: 100vw;

    @media (min-width: 1080px) {
      width: 1064px;
    }
  }

  .login-btn {
    @media (min-width: 1080px) {
      background-color: unset;
      // border: 2px solid rgba(#fff, 0.6);
      color: white;
    }
  }

  .gradient-btn {
    background-image: linear-gradient(to right, #f87200, #ef5350);
    box-shadow: -4px 4px 4px #bc56004d;
    border: 2px solid #ffffff80;
    border-radius: 12px;
  }

  .container-padding {
    padding: 0.25rem;

    @media (min-width: 1200px) {
      padding: 0 1rem;
    }
  }

  .down-icon {
    animation: verticalMovement 6s ease-in-out infinite;
  }

  @keyframes verticalMovement {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .related-links-img {
    height: 100%;

    @media screen and (min-width: 991px) {
      height: 90px;
    }
  }

  .up-transition {
    transform: translateY(100%);
    animation: bottomUp 2s ease-in-out forwards;
  }

  @keyframes bottomUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .other-investments {
    background-color: #37414b;
  }

  .fund-info-box {
    background-color: #cdd7e1;
    margin-right: -25px;
    margin-left: -25px;
  }

  .triangle-right-up {
    border-left: 8px solid #919ba5;
    border-top: 8px solid transparent;
    right: 1px;
    top: -8px;
  }

  .triangle-right-down {
    border-left: 8px solid #919ba5;
    border-bottom: 8px solid transparent;
    right: 1px;
    bottom: -8px;
  }

  .triangle-left-up {
    border-right: 8px solid #919ba5;
    border-top: 8px solid transparent;
    left: 1px;
    top: -8px;
  }

  .triangle-left-down {
    border-right: 8px solid #919ba5;
    border-bottom: 8px solid transparent;
    left: 1px;
    bottom: -8px;
  }

  .need-help {
    background: url(../../../public/images/lead.svg) no-repeat center center;
    background-size: 100%;
  }

  img.vase-management {
    height: 502px;
    width: 60%;
    position: absolute;
    top: 145px;
    z-index: 2;
  }

  @for $i from 1 through 16 {
    .pixels:nth-child(#{$i}) {
      animation: magic 4s ease infinite;
      animation-delay: $i * 0.02s;
    }
  }

  @for $i from 1 through 15 {
    .pixels:nth-child(#{$i + 16}) {
      animation: magic 4s ease infinite;
      animation-delay: $i * 0.02s;
    }
  }

  @keyframes magic {
    0% {
      opacity: 0;
    }

    15% {
      opacity: 0.2;
      background: $color;
      box-shadow: 0 -1px 0px $color1;
    }

    20% {
      opacity: 0.8;
      background: $color;
      box-shadow: 0 -1px 0px $color2;
    }

    25% {
      opacity: 0.2;
      background: $color;
      box-shadow: 0 -1px 0px $color3;
    }

    50% {
      opacity: 0;
      background: $color;
      box-shadow: 0 -1px 0px $color4;
    }

    75% {
      opacity: 0.2;
      background: $color;
      box-shadow: 0 -1px 0px $color3;
    }

    80% {
      opacity: 0.8;
      background: $color;
      box-shadow: 0 -1px 0px $color2;
    }

    85% {
      opacity: 0.2;
      background: $color;
      box-shadow: 0 -1px 0px $color1;
    }

    100% {
      opacity: 0;
    }
  }

  button {
    height: 42px;
    position: relative;
    overflow: hidden;

    &.is-loading:disabled {
      opacity: 100%;
    }

    &.rounded-pill .loaderPixel {
      border-radius: 100px !important;
    }

    .loaderPixel {
      margin: auto;
      position: absolute;
      inset: 1px;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      overflow: hidden;
      border-radius: 8px;

      .pixels-container {
        width: 465px;

        .pixels {
          float: left;
          box-shadow: 0 -1px 0px $color1;
          margin-top: 0;
          margin-bottom: 0;
          opacity: 0;
          height: 20px;
          width: 31px;
        }
      }
    }
  }

  .bottom-bar {
    bottom: 34px;
    z-index: 10;
    width: 530px;
    bottom: 34px;
    z-index: 10;
    @include media-breakpoint-down(lg) {
      width: unset;
      right: 1rem;
      left: 1rem;
      bottom: 1rem;
    }
  }
}

// .mobile-container {
//   transform: translateY(40%) scale(1.7);
//   position: relative;
//   z-index: 0;
//   @include media-breakpoint-down(lg) {
//     transform: translateY(30%) scale(1.6);
//   }

//   .floating-coin {
//     position: absolute;
//   }

//   .coin-1 {
//     right: -30px;
//     top: 0;
//     animation: float-1 9s ease-in-out infinite;
//     animation-delay: 0s;
//     width: 85px;
//     z-index: 3;
//   }

//   .coin-2 {
//     right: -5px;
//     bottom: 20px;
//     opacity: 0.6;
//     animation: float-2 10s ease-in-out infinite;
//     animation-delay: 1s;
//     width: 85px;
//     z-index: 3;
//     @include media-breakpoint-down(lg) {
//       bottom: 0;
//     }
//   }

//   .coin-3 {
//     left: -30px;
//     bottom: 40px;
//     opacity: 0.6;
//     animation: float-1 9s ease-in-out infinite;
//     animation-delay: 2s;
//     width: 120px;
//     z-index: 3;
//     @include media-breakpoint-down(lg) {
//       bottom: 0;
//     }
//     @include media-breakpoint-down(sm) {
//       bottom: 40px;
//     }
//   }

//   .coin-4 {
//     left: 17px;
//     top: 56px;
//     animation: float-2 6s ease-in-out infinite;
//     animation-delay: 3s;
//     width: 60px;
//     z-index: 1;
//   }

//   .coin-5 {
//     right: -60px;
//     top: 37px;
//     animation: float-2 7s ease-in-out infinite;
//     animation-delay: 4s;
//     width: 85px;
//     z-index: 3;
//   }

//   @keyframes float-1 {
//     0% {
//       transform: translateY(0) rotate(0deg);
//     }
//     50% {
//       transform: translateY(-10px) rotate(15deg);
//     }
//     100% {
//       transform: translateY(0) rotate(0deg);
//     }
//   }

//   @keyframes float-2 {
//     0% {
//       transform: translateY(0) rotate(0deg);
//     }
//     50% {
//       transform: translateY(-15px) rotate(-15deg);
//     }
//     100% {
//       transform: translateY(0) rotate(0deg);
//     }
//   }
// }

.step-item {
  position: relative;
  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #faaf16;
    border-radius: 70px;
    top: calc(50% - 35px);
    left: -35px;
    z-index: 1;
    border: solid 8px #fff;

    > span {
      display: block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 14px solid #000;
      transform: translateX(-3px);
      @include media-breakpoint-down(lg) {
        transform: rotate(-90deg) translateX(-3px);
      }
    }
    @include media-breakpoint-down(lg) {
      top: unset;
      bottom: -35px;
      left: calc(50% - 35px);
    }
  }
}

// .roller {
//   position: relative;
//   overflow: hidden;
//   width: 174px;
//   font-size: 21px !important;
//   white-space: nowrap;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }

// .roller .roll-text {
//   position: absolute;
//   top: 0;
//   animation: slide 10s infinite;
//   animation-delay: 1s;
//   text-align: left;
//   left: 65px;
// }

// @keyframes slide {
//   0% {
//     top: 0;
//   }
//   12.5% {
//     top: -32px;
//   }
//   25% {
//     top: -64px;
//   }
//   37.5% {
//     top: -96px;
//   }
//   50% {
//     top: -128px;
//   }
//   62.5% {
//     top: -160px;
//   }
//   75% {
//     top: -192px;
//   }
//   82.5% {
//     top: -192px;
//   }
// }

.pic-01 {
  max-width: 80%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.host-width{
    max-width: 1064px;
    display: block;
    margin: auto;
}

.div-line::after {
  content: "";
  position: absolute;
  // bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background: linear-gradient(to right, transparent, #fff, transparent);
}

.marquee-container {
  direction: ltr;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  // border-bottom:1px solid #fff !important;
}

.marquee-track {
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-track span {
  flex-shrink: 0;
  font-size: 52px;
  color: #c0c0c0a1;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.aum-section {
    direction: ltr;
    position: relative;
    overflow: hidden;

    padding: 100px 20px;

    background: linear-gradient(
        135deg,
        #6f3ff5 0%,
        #6438e8 50%,
        #5b31dd 100%
    );

    // border-radius: 12px;
}

.aum-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.aum-title {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 25px;
}

.aum-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-size: 72px;
    font-weight: 300;
    line-height: 1.2;

    margin-bottom: 70px;
}

.currency {
    font-size: 20px;
    color: rgba(255,255,255,.45);
}

.aum-stats {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;

    /* مهم برای RTL */
    flex-direction: row;
}

.stat-item {
    text-align: center;
}

.stat-icon {
    color: rgba(255,255,255,.45);
    font-size: 24px;
    margin-bottom: 12px;
}

.stat-value {
    color: #ff9ca0;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stat-label {
    color: rgba(255,255,255,.9);
    // font-size: 15px;
    line-height: 1.8;
}

/* پس‌زمینه سمت راست */
.bg-shape-plus{
  background: url(/images/home/Shape-Add.svg) center center / cover no-repeat;
}

.bg-shape-minus{
  background: url(/images/home/Shape-Minus.svg) center center / cover no-repeat;
}

.shape-top {
    position: absolute;

    width: 400px;
    height: 400px;

    top: -20px;
    right: 80px;
}

/* پس‌زمینه سمت چپ */

.shape-bottom {
    position: absolute;
    width: 400px;
    height: 155px;
    bottom: -8px;
    left: 60px;
}

// .shape-top::before,
// .shape-top::after,
// .shape-bottom::before,
// .shape-bottom::after {
//     content: "";
//     position: absolute;
//     border: inherit;
// }

// .shape-top::before,
// .shape-bottom::before {
//     inset: 15px;
// }

// .shape-top::after,
// .shape-bottom::after {
//     inset: 30px;
// }

.bg-statistics {
    width: 100%;
    // min-height: 100vh;
    position: relative;
    overflow: hidden;

    background: url(/images/home/Line_Background.svg) center center / cover no-repeat, linear-gradient(40deg, #6633cc, #6633cc);
}

@media (max-width: 768px) {

    .aum-section {
        padding: 60px 16px;
    }

    .aum-title {
        font-size: 24px;
        line-height: 1.8;
    }

    .aum-title img {
        max-width: 180px;
        padding-left: 0 !important;
        margin-top: 10px;
    }

    .aum-amount {
        flex-direction: column;
        gap: 8px;

        font-size: 32px;
        margin-bottom: 40px;

        word-break: break-word;
    }

    .currency {
        font-size: 16px;
    }

    .aum-stats {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .stat-item {
        width: 100%;
        max-width: 320px;
    }

    .stat-value {
        font-size: 36px;
    }

    .stat-label {
        font-size: 14px;
        line-height: 1.7;
    }

    .stat-icon img {
        width: 50px;
        height: 50px;
    }

    .gradient-bg{
      border-radius: unset !important;
    }
}

.desktop-steps{

    width:100%;
    height:310px;
    justify-content:center;
    display:grid;

    grid-template-columns:
        auto   
        minmax(0,1fr)    
        341px     
        318px    
        373px     
        minmax(0,1fr)    
        auto;    

    align-items:center;

}

.desktop-steps>div{

    height:310px;

}

.desktop-steps img{

    display:block;
    width:100%;
    height:100%;
}


/************** Repeat **************/

.right-repeat{

    background-image:url("/images/home/Right-4px.svg");
    background-repeat:repeat-x;
    background-position:center;
    background-size:auto 310px;

}

.left-repeat{

    background-image:url("/images/home/Left-4px.svg");
    background-repeat:repeat-x;
    background-position:center;
    background-size:auto 310px;

}

.step1{
    width:460px;
}

.step5{
    width:428px;
}

// .step1{
//     margin-right:0px;
//     z-index:2;
// }

// .step5{
//     margin-left:-4px;
//     z-index:2;
// }

// .right-repeat{
//     position:relative;
//     z-index:1;
// }

// .left-repeat{
//     position:relative;
//     z-index:1;
// }



// ***********************

// .desktop-steps {
//     display: flex;
//     align-items: center;
//     width: 100%;
// }

// .step-item img {
//     width: 100%;
//     display: block;
// }

// /* نسبت واقعی فایل ها */

// .step-1 { flex: 223; }
// .step-2 { flex: 165; }
// .step-3 { flex: 154; }
// .step-4 { flex: 181; }
// .step-5 { flex: 207; }

// .step-4{
//     position: relative;
//     flex:180;
// }

// .step-4::before,
// .step-4::after{
//     content:"";
//     position:absolute;
//     top:0;
//     bottom:0;
//     width:4px;
//     z-index:2;
//     background-size:100% 100%;
//     background-repeat:no-repeat;
// }

// .step-4::before{
//     left:0;
//     background-image:url('/images/home/Left-4px.svg');
// }

// .step-4::after{
//     right:0;
//     background-image:url('/images/home/Right-4px.svg');
// }

// .step-4::before,
// .step-4::after{
//     width: clamp(2px, 0.5vw, 4px);
// }

// .main-step{
//     width:100%;
//     display:block;
// }

