<div class="bg-home">

  <div class="position-relative host-width" style="z-index: 3;height: 900px;">
    <!-- <ngb-carousel class="main-carousel" [showNavigationArrows]="false" interval="10000">
      <ng-template ngbSlide> -->

    <!--         
      <img src="/images/takpod/Artboard_1.webp" alt="درصد سود بیشتر"
        style="max-height: 100%; top:50%; opacity: 0.5; left: 50%; transform: translate(-69%, -45%);"
        class="position-absolute" loading="lazy" /> -->

    <!-- desktop Version (slide 1) -->
    <div class="d-none d-lg-block position-relative">
      <div
        class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative text-white py-4 px-6"
        style="width: 1064px;">
        <div class="d-flex w-100 mb-4">
          <img src="/images/logo-horizontal-g.svg" alt="آی‌پاسارگاد" height="35" loading="lazy" />
        </div>
        <div class="d-flex justify-content-between w-100">
          <h3 class="text-right text-dark ff-peyda">آی‌پاسارگاد،سامانه و اپلیکیشن سرمایه‌گذاری <br />در صندوق‌های
            پاسارگاد</h3>
          <h4 class="text-left text-dark ff-peyda">با آی‌پاسارگاد می‌توانید فقط با چند کلیک، در <br /> صندوق‌های
            سرمایه‌گذاری طلا، درآمد ثابت و سهامی<br />پاسارگاد سرمایه‌گذاری کنید.</h4>
        </div>
        <div class="d-flex justify-content-end w-100 mt-4">
          <a href="https://app.ipasargad.ir/auth/reg/step1"
            class="btn btn-sm px-3 btn-success text-white d-flex justify-content-center align-items-center"
            style="white-space: nowrap; max-width: 184px; max-height: 40px; height: 40px; cursor: pointer;">
            <div class="bg-white d-flex align-items-center justify-content-center ms-2"
              style="width: 15px; height: 15px; border-radius: 5px;">
              <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
            </div> شروع سرمایه گذاری
          </a>
        </div>
        <div class="w-100 pe-5" style="position: absolute;top: 385px;">
          <div class="d-flex align-items-center"
            style="white-space: nowrap; max-width: 184px; max-height: 40px; height: 40px; cursor: pointer;">
            <div class="bg-white d-flex align-items-center justify-content-center ms-2"
              style="width: 15px; height: 15px; border-radius: 5px;">
              <img src="/images/home/sticker.svg" loading="lazy" alt="">
            </div>
            <span class="text-danger fw-bold pt-1">
              100K+
            </span>
          </div>
          <h6 class="text-secondary" style="line-height: normal;">
            مورد اعتماد چندین هزار کاربر <br /> در سراسر کشور
          </h6>
        </div>
        <!-- <h4 class="ff-peyda mt-5">
            صندوق سهامی قابل معامله
          </h4> -->
        <img src="/images/home/Back_Line.png" alt="آی پاسارگاد" class="vase-management" loading="lazy" />
        <img src="/images/home/Box.png" class="" style="max-width: 57%;position: absolute;top: 145px;z-index: 9;" alt=""
          loading="lazy" />
        <img src="/images/home/Coin.png" class="" style="max-width: 56%;position: absolute;top: 155px; z-index: 99;"
          alt="" loading="lazy" />
        <!-- <h3 class="mt-2 mb-3 ff-peyda">سرمایه‌گذاری آسان در بازار سهام</h3>
          <a href="https://app.ipasargad.ir/auth/reg/step1"
            class="btn btn-success text-white rounded-pill px-5 my-2 mb-5 py-2 mx-7">شروع سرمایه گذاری</a> -->
      </div>
    </div>

    <!-- Mobile Version (slide 1) -->
    <div class="d-block d-lg-none w-100">
      <div
        class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative text-white py-4 px-2">
        <div class="d-flex w-100 mb-4">
          <img src="/images/logo-horizontal-g.svg" alt="صندوق سهامی تکپاد" height="35" loading="lazy" />
        </div>
        <div class="justify-content-center w-100">
          <h3 class="text-center text-dark ff-peyda">آی‌پاسارگاد،سامانه و اپلیکیشن سرمایه‌گذاری در صندوق‌های
            پاسارگاد.</h3>
          <h5 class="text-center text-dark ff-peyda">با آی‌پاسارگاد می‌توانید فقط با چند کلیک، در صندوق‌های
            سرمایه‌گذاری طلا، درآمد ثابت و سهامی پاسارگاد سرمایه‌گذاری کنید.</h5>
        </div>

        <!-- <div class="w-100 pe-3" style="position: absolute;top: 225px;z-index: 99;">
          <div class="d-flex align-items-center"
            style="white-space: nowrap; max-width: 184px; max-height: 40px; height: 40px; cursor: pointer;">
            <div class="bg-white d-flex align-items-center justify-content-center ms-2"
              style="width: 15px; height: 15px; border-radius: 5px;">
              <img src="/images/home/sticker.svg" loading="lazy" alt="">
            </div>
            <span class="text-danger fw-bold pt-1">
              100K+
            </span>
          </div>
          <h6 class="text-secondary" style="line-height: normal;">
            مورد اعتماد چندین هزار کاربر <br /> در سراسر کشور
          </h6>
        </div> -->

        <div class="position-relative">
          <img src="/images/home/Back_Line.png" alt="" class="" loading="lazy" style="max-width: 100%;" />
          <img src="/images/home/Box.png" class="" style="max-width: 100%;position: absolute; right: 0; z-index: 9;"
            alt=" " loading="lazy" />
          <img src="/images/home/Coin.png" class="" style="max-width: 100%;position: absolute;z-index: 99; right: 0;"
            alt="" loading="lazy" />

        </div>
        <!-- <h3 class="mt-2 mb-3 ff-peyda">سرمایه‌گذاری آسان در بازار سهام</h3>
          <a href="https://app.ipasargad.ir/auth/reg/step1"
            class="btn btn-success text-white rounded-pill px-5 my-2 mb-5 py-2 mx-7">شروع سرمایه گذاری</a> -->
      </div>
    </div>

    <div class="gradient-position">
      <div class="gradient-bg d-flex flex-column justify-content-center">
        <div class="gradients-container position-absolute">
          <div class="g1"></div>
          <div class="g2"></div>
          <div class="g3"></div>
          <div class="g4"></div>
          <div class="g5"></div>
          <div class="interactive"></div>
        </div>
        <div>
          <div class="marquee-container">
            <div class="marquee-track ff-peyda" style="font-weight: lighter;">
              <span>
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
              </span>

              <span>
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
              </span>

              <span>
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
                چرا آی‌پاسارگـــاد؟ &nbsp;&nbsp;&nbsp;
              </span>
            </div>
          </div>
                    <div class="div-line"></div>
          <div class="text-center mx-auto mt-5">
            <h4 class="fw-bold text-white ff-peyda">
              دارای مجوز از سازمان بورس و اوراق بهادر و عضو گروه مالی بانک پاسارگاد
            </h4>
          </div>

          

          <div class="d-none d-sm-block">
            <div class="text-center mx-auto mt-4">
              <img src="/images/home/Datx_Logo.svg" alt="آی‌پاسارگاد" class="mx-sm-5  mx-1 mt-1" loading="lazy"
                style="max-height: 30px !important;" />
              <img src="/images/home/Hezare_Sevom.svg" alt="آی‌پاسارگاد" class="mx-sm-5  mx-1 mt-1" loading="lazy"
                style="max-height: 30px !important;" />
              <img src="/images/home/iPasargad_Group.svg" alt="آی‌پاسارگاد" class="mx-sm-5  mx-1 mt-1" loading="lazy"
                style="max-height: 30px !important;" />
            </div>
          </div>

          <div class="d-block d-sm-none">
            <div class="roller">
              <div class="roll-logo">
                <img src="/images/home/Datx_Logo.svg">
                <img src="/images/home/Hezare_Sevom.svg">
                <img src="/images/home/iPasargad_Group.svg">
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="d-flex flex-column align-items-center position-absolute bottom-0 w-100 p-0 pb-8 pb-lg-0">
        <div class="w-100 text-center d-flex justify-content-center auth-container">
          <!-- Mobile Version (navbar-expand) -->
          <div class="d-md-none d-block">
            <div class="navbar navbar-expand-sm fixed-bottom  d-md-none m-2 rounded p-2 d-block" style="bottom: 70px;">
              <div class="download-btn">
                <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank" title="دانلود مستقیم"
                  style="all: unset !important;">
                  <span class="me-1 ff-peyda">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1"
                      viewBox="0 0 24 24" style="width: 33px;">
                      <g id="Group_646" data-name="Group 646">
                        <path id="Path_1428" data-name="Path 1428" class="cls-2" d="M12,17.5V6.5" />
                        <path id="Path_1429" data-name="Path 1429" class="cls-1"
                          d="M6.7,12.7l4.5,4.6c.4.4,1.1.4,1.5,0,0,0,0,0,0,0l4.5-4.6" />
                        <path id="Path_1430" data-name="Path 1430" class="cls-1"
                          d="M12,21.5c5.2,0,9.5-4.3,9.5-9.5S17.2,2.5,12,2.5,2.5,6.8,2.5,12s4.3,9.5,9.5,9.5Z" />
                      </g>
                    </svg>
                    اپلیکیشن سرمایه‌گذاری آی‌پاسارگاد
                  </span>
                </a>
                <a href="/download" target="_blank" title="دانلود اپلیکیشن" style="all: unset !important;">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1"
                    viewBox="0 0 24 24" style="width: 45px;">
                    <path id="Path_2575" data-name="Path 2575" stroke-width="1.5px" stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12,1.7c-5.7,0-10.3,4.6-10.3,10.3s4.6,10.3,10.3,10.3,10.3-4.6,10.3-10.3c0-2.7-1.1-5.3-3-7.3-1.9-1.9-4.5-3-7.2-3ZM17.5,13h-9l3.5,3.6c.4.4.3,1.1-.1,1.4-.4.3-.9.3-1.3,0l-4.5-4.5c-.2-.2-.3-.4-.4-.7-.2-.5-.2-1.1,0-1.6.1-.3.3-.5.4-.7l4.5-4.5c.4-.4,1-.4,1.4,0s.4,1,0,1.4h0l-3.6,3.6h9.1c.6,0,1,.4,1,1s-.4,1-1,1h0Z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!-- end -->
          <div class="navbar navbar-expand-sm position-fixed rounded bottom-bar" style="background-color: #28323C; ">
            <div style="width: 50px; max-height: 50px; height: 50px; background-color: #555F69;"
              class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn mx-2 p-0">
              <img src="./images/logo-white.svg" style="width: 100%;" />
            </div>
            <a href="https://app.ipasargad.ir/auth/login"
              style="max-width: 50px; max-height: 50px; height: 50px; border-color: #555F69; cursor: pointer;"
              class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn ml-2 me-auto p-0 bg-transparent">
              <img src="./images/ico_person.svg" style="width: 50%;" />
            </a>
            <a href="https://app.ipasargad.ir/auth/reg/step1"
              style="white-space: nowrap; max-width: 184px; max-height: 50px; height: 50px; cursor: pointer;"
              class="btn btn-sm px-4 btn-success text-white mx-2 d-flex justify-content-center align-items-center">
              <div class="bg-white d-flex align-items-center justify-content-center ms-2"
                style="width: 20px; height: 20px; border-radius: 5px;">
                <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
              </div>
              شروع سرمایه گذاری
            </a>
          </div>
        </div>

      </div>
      <img class="down-icon d-block mx-auto arrow-end text-white mt-2" src="/images/double-arrow-down-dark.svg"
        alt="" />
    </div>

    <div class="w-100 px-1 d-block d-sm-none" style="position: relative;bottom: 50px;z-index: 99;">
      <div class="d-flex align-items-center justify-content-center"
        style="cursor: pointer;">
        <div class="bg-white d-flex align-items-center justify-content-center ms-2"
          style="width: 15px; height: 15px; border-radius: 5px;">
          <img src="/images/home/sticker.svg" loading="lazy" alt="">
        </div>
        <span class="text-danger fw-bold pt-1">
          100K+
        </span>
        <h5 class="text-secondary mb-0 me-2" style="line-height: normal;">
          مورد اعتماد چندین هزار کاربر در سراسر کشور
        </h5>
      </div>
    </div>
    
  </div>


  <div class="content-container flex-column">
    <app-home-features></app-home-features>
  </div>

  <section>
    <div class="text-center mt-3 mb-3 mt-lg-3">
      <h5 class="ff-peyda text-secondary">مشکل و راه حل</h5>
      <h2 class="ff-peyda mb-5 px-3">با آی‌پاسارگاد، سرمایه‌گذاری دیگر پیچیده و زمان‌بر نیست</h2>
      <div class="ff-peyda row text-secondary mx-0 mb-5">

        <!-- desktop Version (slide 1) -->
        <div class="d-none d-lg-block">
            <!-- <div class="desktop-steps d-none d-lg-flex">

               <img src="/images/home/all.svg" class="w-100" alt="آی‌پاسارگاد" loading="lazy" />
            
                <div class="step-item step-1">
                    <img src="/images/home/1.svg" alt="">
                </div>
            
                <div class="step-item step-2">
                    <img src="/images/home/2.svg" alt="">
                </div>
            
                <div class="step-item step-3">
                    <img src="/images/home/3.svg" alt="">
                </div>
            
                <div class="step-item step-4">
                    <img class="main-step" src="/images/home/4.svg" alt="">
                </div>
            
                <div class="step-item step-5">
                    <img src="/images/home/5.svg" alt="">
                </div> 
            
            </div> -->

            <div class="desktop-steps d-none d-lg-grid">

                <div class="step1">
                    <img src="/images/home/1.svg" alt="">
                </div>
            
                <div class="right-repeat"></div>
            
                <div class="step2">
                    <img src="/images/home/2.svg" alt="">
                </div>
            
                <div class="step3">
                    <img src="/images/home/3.svg" alt="">
                </div>
            
                <div class="step4">
                    <img src="/images/home/4.svg" alt="">
                </div>
            
                <div class="left-repeat"></div>
            
                <div class="step5">
                    <img src="/images/home/5.svg" alt="">
                </div>
            
            </div>
        </div>

        <!-- Mobile Version (slide 1) -->
        <div class="d-block d-lg-none w-100">
          <div class="d-flex flex-column align-items-center">
            <img src="/images/home/all-vertical.svg" class="" alt="آی‌پاسارگاد" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="funds-section">
    <app-funds-section></app-funds-section>
  </div>

  <div class="ipasargad-features">
    <app-ipasargad-features></app-ipasargad-features>
  </div>

  <div class="registration-steps">
    <app-registration-steps></app-registration-steps>
  </div>


  <section class="aum-section bg-statistics">

    <div class="bg-shape-plus shape-top d-lg-block d-none"></div>
    <div class="bg-shape-minus shape-bottom d-lg-block d-none"></div>

    <div class="aum-content">

      <h3 class="aum-title ">
        بیش از ...
        <span>دارایی تحت مدیریت صندوق ها و سبدهای ماست</span>
        <div class="stat-icon">
          <img src="/images/home/Line.svg" class="" alt="آی‌پاسارگاد" loading="lazy" style="padding-left: 540px;" />
        </div>
      </h3>

      <!-- <div class="aum-amount">
            <span class="currency">تومان</span>
            75,000,000,000,000
        </div>

        <div class="aum-stats">

            <div class="stat-item">
                <div class="stat-icon">
                   <img src="/images/home/Box.svg"  class="" alt="آی‌پاسارگاد" loading="lazy" />
                </div>

                <div class="stat-value">
                    +10
                </div>

                <div class="stat-label">
                    صندوق‌ها و سبدهای اختصاصی
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                   <img src="/images/home/User.svg"  class="" alt="آی‌پاسارگاد" loading="lazy" />
                </div>

                <div class="stat-value">
                    +100,000
                </div>

                <div class="stat-label">
                    سرمایه‌گذار
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                   <img src="/images/home/Diamond.svg"  class="" alt="آی‌پاسارگاد" loading="lazy" />
                </div>

                <div class="stat-value">
                    +75,000 B
                </div>

                <div class="stat-label">
                    دارایی تحت مدیریت
                </div>
            </div>

        </div> -->


      <div class="aum-amount ff-peyda">
        <span class="currency">تومان</span>
        <span class="counter" data-target="75000000000000">0</span>
      </div>

      <div class="aum-stats ff-peyda">

        <div class="stat-item">
          <div class="stat-icon">
            <img src="/images/home/Box.svg" alt="آی‌پاسارگاد" loading="lazy" />
          </div>

          <div class="stat-value">
            +<span class="counter" data-target="10">0</span>
          </div>

          <div class="stat-label">
            صندوق‌ها و سبدهای اختصاصی
          </div>
        </div>

        <div class="stat-item">
          <div class="stat-icon">
            <img src="/images/home/User.svg" alt="آی‌پاسارگاد" loading="lazy" />
          </div>

          <div class="stat-value">
            +<span class="counter" data-target="100000">0</span>
          </div>

          <div class="stat-label">
            سرمایه‌گذار
          </div>
        </div>

        <div class="stat-item">
          <div class="stat-icon">
            <img src="/images/home/Diamond.svg" alt="آی‌پاسارگاد" loading="lazy" />
          </div>

          <div class="stat-value">
            +<span class="counter-billion" data-target="75000">0</span> B
          </div>

          <div class="stat-label">
            دارایی تحت مدیریت
          </div>
        </div>

      </div>
    </div>

  </section>

  <div class="invest-academy">
    <app-invest-academy></app-invest-academy>
  </div>

  <div class="download-home">
    <app-download-home></app-download-home>
  </div>

  <div class="social">
    <app-social></app-social>
  </div>

  <!-- @if (showFooterAndContact()) { -->
  <section class="section mb-0 container-padding container-width m-auto px-3">
    <app-footer></app-footer>
  </section>
  <!-- } -->

</div>


@if (showFooterAndContact()) {
<app-contact-gadget id="contactGadget"></app-contact-gadget>
}

@if (showLinkingGadget()) {
<app-linking-gadget id="linkingGadget"></app-linking-gadget>
}