  <section class="container-width d-flex align-items-center flex-column container-padding my-6 px-4">
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="ff-peyda text-secondary mt-4 mt-sm-5 text-center">مراحل ثبت نام و سرمایه‌گذاری</h5>
        <h2 class="ff-peyda mb-5 text-center">نحوه سرمایه‌گذاری در صندوق‌های پاسارگاد</h2>
        <h4 class="text-justify px-3 mb-3 ff-peyda">
          ساده‌ترین روش سرمایه‌گذاری در صندوق‌های گروه خدمات بازار سرمایه پاسارگاد، ثبت‌نام در سامانه آی‌پاسارگاد است.
          پس از ثبت نام در این سامانه و ورود به آن می‌توانید با
          انتخاب صندوق و واریز مبلغ مورد نظر با روش‌های موجود، سرمایه‌گذاری خود را آغاز کنید.
        </h4>

        <div class="d-flex align-items-center row investment-steps flex-column flex-lg-row p-sm-4">
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <div class="arrow-container"><span></span></div>
            <div class="rounded overflow-hidden position-relative" style="background-color: #ebf5ff;">
              <div class="position-relative mb-4">
                <img class="position-absolute" loading="lazy" height="24" width="24" src="./images/home/registration-steps/01/Download.svg" style="top: 55px;;left: 50%;transform: translate(-50%, -50%);">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/01/01.webp" alt="">
                <h5 class="text-center ff-peyda position-absolute fs-5" style="top: 70%;left: 50%;transform: translate(-50%, -50%);line-height: 1.7;font-weight: 500;width: max-content;">اپلیکیشن را دانلود و در چند <br> ثانیه احراز هویت کنید</h5>
              </div>
              <div class="text-end" style="width: 94%;">              
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/01/Header.webp" style="position: relative;left: 0px;border-top-left-radius: 20px;">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/01/Back.webp" style="position: relative;left: 0px;">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/01/Signup.webp" style="position: absolute;bottom: 50px;right: -5px;height: 55px; transform: rotate(354deg);">                 
              </div>
            </div>
          </div>
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <div class="arrow-container"><span></span></div>
            <div class="rounded overflow-hidden position-relative" style="background-color: #ebf5ff;">
              <div class="position-relative mb-4">
                <img class="img-fluid position-absolute" loading="lazy" height="24" width="24" src="./images/home/registration-steps/02/Layer.svg" style="top: 55px;;left: 50%;transform: translate(-50%, -50%);">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/02/02.webp" alt="">
                <h5 class="text-center ff-peyda fw-bold position-absolute" style="top: 70%;left: 50%;transform: translate(-50%, -50%);line-height: 1.7;font-weight: 500;width: max-content;">  از بین صندوق‌ها، گزینه<br> مناسب خود را انتخاب کنید </h5>
              </div>
              <div class="position-relative text-center">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/02/Header.webp" style="border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/02/Back.webp" alt="">
                <div>
                  <img class="img-fluid reg-step1" loading="lazy" src="./images/home/registration-steps/02/Hezare_Sevom.webp" style="position: absolute;top: 40%; left: 50%;height: 90px;transform: translate(-50%, -50%);">                
                  <img class="img-fluid reg-step2" loading="lazy" src="./images/home/registration-steps/02/Pasargad.webp" style="position: absolute;top: 76%; left: 50%;height: 90px;transform: translate(-50%, -50%);;">                
                  <img class="img-fluid reg-step3" loading="lazy" src="./images/home/registration-steps/02/Ryton.webp" style="position: absolute;top: 112%; left: 50%;height: 90px;transform: translate(-50%, -50%);">                              
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <div class="rounded overflow-hidden position-relative" style="background-color: #ebf5ff;">
              <div class="position-relative mb-4">
                <img class="img-fluid position-absolute" loading="lazy" height="24" width="24" src="./images/home/registration-steps/03/Card.svg" style="top: 55px;;left: 50%;transform: translate(-50%, -50%);">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/03/03.webp" alt="">
                <h5 class="text-center ff-peyda fw-bold position-absolute" style="top: 70%;left: 50%;transform: translate(-50%, -50%);line-height: 1.7;font-weight: 500;;width: max-content;"> با واریز مبلغ دلخواه، <br> سرمایه‌گذاری خود را آغاز کنید </h5>
              </div>
              <div class="text-start" style="width: 94%;">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/03/Header.webp" style="position: relative;right: 17px;border-top-right-radius: 20px;">
                <img class="w-100" loading="lazy" src="./images/home/registration-steps/03/Tab.webp" style="position: relative;right: 17px">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/03/Back.webp" style="position: relative;right: 17px;object-fit:cover; width:325px ;height:165px;">           
              </div>
            </div>
          </div>
        </div>
        <!-- <h4 class="text-justify px-3 my-4">همچنین شمـــا می‌توانید با مــراجعه به پنـــــل معاملاتی
          کارگزاری‌ها در روزها و ســـــــاعـــــــات کاری بورس و جستجوی نمــــــاد «پاسارگاد»، واحدهای مورد نیاز خود
          را خریداری کنید.</h4> -->
        <div class="row mb-3" style="direction: ltr;">
          <div class="col-md-12 text-end">
              <div class="d-flex flex-row-reverse">
                <img class="img-fluid" loading="lazy" src="./images/home/registration-steps/Arrow-Down.svg" alt="">
                <h5 class="ff-peyda" style="transform: rotate(0.95turn);color:#ff991b;position: relative;left: 27px;top: 20px;">
                  آموزش ثبت نام، آموزش
                  <br>
                  سرمایه‌گذاری و آموزش ابطال
                </h5>
              </div>
          </div>
        </div>
        <div class="d-md-block d-none">
          <div class="row mb-3">
            <div class="col-md-12 d-flex my-1">
              <a href="https://app.ipasargad.ir/auth/reg/step1" style="width: 270px;"
                class="d-flex justify-content-center btn btn-success rounded-pill text-white mx-auto ms-md-0 px-5">
                  <div class="bg-white d-flex align-items-center justify-content-center ms-2" style="width: 20px; height: 20px; border-radius: 5px;">
                    <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
                  </div>               
                ثبت نام
                در آی‌پاسارگاد                
              </a>
            </div>
            <div class="col-md-12 d-flex my-1">
              <a href="https://academy.ipasargad.ir/instruction-to-sign-up-in-ipasargad//"
                class="d-flex justify-content-center btn btn-outline-secondary rounded-pill mx-auto me-md-0 border border-1 border-secondary px-5 mx-auto"
                style="width: 270px;">
                <div class="bg-white d-flex align-items-center justify-content-center ms-2" style="width: 20px; height: 20px; border-radius: 5px;">
                    <img src="./images/home/registration-steps/help.svg" loading="lazy" alt="">
                  </div>
                راهنمای تصویری</a>
            </div>
          </div>
        </div>
        <div class="d-md-none">
          <div class="d-flex flex-column">
            <div class="col-md-12 d-flex my-1">
              <a href="https://academy.ipasargad.ir/instruction-to-sign-up-in-ipasargad//"
                class="d-flex justify-content-center btn btn-outline-secondary rounded-pill mx-auto me-md-0 border border-1 border-secondary px-5 mx-auto"
                style="width: 270px;">
                <div class="bg-white d-flex align-items-center justify-content-center ms-2" style="width: 20px; height: 20px; border-radius: 5px;">
                    <img src="./images/home/registration-steps/help.svg" loading="lazy" alt="">
                  </div>
                راهنمای تصویری</a>
            </div>
            <div class="col-md-12 d-flex my-1">
              <a href="https://app.ipasargad.ir/auth/reg/step1" style="width: 270px;"
                class="d-flex justify-content-center btn btn-success rounded-pill text-white mx-auto ms-md-0 px-5">
                  <div class="bg-white d-flex align-items-center justify-content-center ms-2" style="width: 20px; height: 20px; border-radius: 5px;">
                    <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
                  </div>               
                ثبت نام
                در آی‌پاسارگاد                
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

