<section class="section container-padding text-center" id="features">
  <h5 class="ff-peyda text-secondary mt-6">ویژگی‌های صندوق قابل معامله پاسارگاد</h5>
  <h2 class="ff-peyda mb-5">چرا صندوق درآمد ثابت پاسارگاد؟</h2>
  <div class="ff-peyda row text-secondary mx-0 mb-5">
    <div class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0" src="./images/etf/feat-1.svg" />
      <h3 class="px-4 text-right text-lg-center">سود موثر 39% سالانه <br class="d-block d-sm-none d-lg-block" /> با
        حداقل ریسک</h3>
    </div>
    <div class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0" src="./images/etf/feat-2.svg" />
      <h3 class="px-4 text-right text-lg-center">ســـود ســـــرمایه‌گــذاری <br class="d-block d-sm-none d-lg-block" />
        معــاف از
        مـــالیـــات</h3>
    </div>
    <div class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center feature-item position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0" src="./images/etf/feat-3.svg" />
      <h3 class="px-4 text-right text-lg-center">خریــد و فروش آســان <br class="d-block d-sm-none d-lg-block" /> با
        نقدشوندگی بالا
      </h3>
    </div>
    <div class="align-items-center col-lg-6 d-flex flex-lg-column justify-content-center position-relative py-5 py-lg-0">
      <img class="mb-3 mb-lg-3 mb-sm-0" src="./images/etf/feat-4.svg" />
      <h3 class="px-4 text-right text-lg-center">بـــرداشت ســــرمایه <br class="d-block d-sm-none d-lg-block" /> در
        هــر زمـــــان
        دلخــواه</h3>
    </div>
  </div>

  <div class="card mx-4">
    <div class="card-body d-flex flex-column align-items-center">
      <h5 class="ff-peyda text-secondary mt-4 mt-lg-5">صندوق درامد ثابت قابل معامله</h5>
      <h2 class="ff-peyda mb-5">صندوق پاسارگاد <br class="d-sm-none" /><span class="position-relative">
          مناسب چه کسانی
          <svg #animatedBlock class="underline mb-3" id="Layer_2" xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 196.11 19.64">
            <g id="Layer_1-2">
              <path
                d="M4.62,11.652S71.549,1.555,115.361,2.227c43.811.671,68.96,6.47,68.96,6.47l-39.812,1.528s27.945,2.708,47.075,6.246"
                fill="none" stroke="#0055FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
            </g>
          </svg>
        </span>
        است؟
      </h2>
      <h4 class="mx-3 mx-lg-5 text-justify">صندوق سرمایه‌گذاری پاسارگاد برای افرادی مناسب است که به دنبال <strong>رشد مستمر و
          بلندمدت
          سرمایه</strong> خود هستند و تمایل دارند سود حاصل از سرمایه‌گذاری‌شان <strong> به‌صورت مرکب</strong>
        اضافه شود. <br />
        صندوق پاسارگاد توزیع سود نقدی ندارد و سود به‌صورت روزشمار در ارزش واحدهای سرمایه‌گذاری محاسبه و به اصل سرمایه
        افزوده می‌شود.</h4>
      <img class="mb-3 mt-4 mx-5 d-none d-md-block" style="max-width: 80%;" src="./images/etf/horizontal.svg" />
      <img class="mb-3 mt-6 mx-auto d-block d-md-none" style="max-width: 50%;" src="./images/etf/vertical_1.svg" />
      <a href="https://app.ipasargad.ir/auth/reg/step1"
        class="btn btn-success text-white rounded-pill px-6 my-2 mb-5 py-3 d-flex gap-2 align-items-center">
        <div class="bg-white d-flex align-items-center justify-content-center"
          style="width: 20px; height: 20px; border-radius: 5px;">
          <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
        </div>
        شروع سرمایه‌گذاری
      </a>

    </div>
  </div>
</section>