<div class="d-flex justify-content-between align-items-center px-4 pt-2 mt-4 mb-1">
  <h5 class="text-secondary m-0 fw-bold">فرصت‌های سرمایه‌گذاری</h5>
  <h5 class="align-items-center d-flex  fw-bold text-primary cursor-pointer mb-0" routerLink="/fund-list">
    همه فرصت‌ها
    <svg viewBox="0 0 24 24" width="14px" height="14px" class="me-2">
      <use xlink:href="#ico_drop_left"></use>
    </svg>
  </h5>
</div>
<div class="flex-nowrap mb-3 overflow-x-auto row">

  @for(item of mutualFundList$ | async; track item.seoRegisterNumber) {
  <div class="col-8 py-2 opportunity-item">
    <div class="card border-radius-20 h-100">
      <ng-container *ngIf="item.attachments?.length > 0 && getAttachment(item, attachmentTypes.FundOpportunitiesImage); else imagePlaceholder">
      <!-- {{apiUrl + '/' + getAttachment(item, attachmentTypes.FundOpportunitiesImage)?.downloadLink}} -->
        <!-- <img
          [src]="apiUrl + '/' + getAttachment(item, attachmentTypes.FundOpportunitiesImage)?.downloadLink"
          alt=""
          class="w-100 cursor-pointer"
          routerLink="/fund/{{item.seoRegisterNumber}}/fund-detail/{{item.seoRegisterNumber}}" /> -->
       <app-svg-viewer  [svgUrl]="apiUrl + '/' + getAttachment(item, attachmentTypes.FundOpportunitiesImage)?.downloadLink"></app-svg-viewer>
      </ng-container>   
      <ng-template #imagePlaceholder>
        <!-- <div class="image-loading-placeholder"></div> -->
        <div class="card-skeleton">       
         <div class="card-skeleton__image skeleton"></div>       
         <div class="card-skeleton__content"></div>       
        </div>
      </ng-template>
      <div class="card-body d-flex flex-column p-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h6 class="mb-0" style="color: #919BA5;">{{ item.tags[1] }}</h6>
          <span style="border: 1px solid #6633cc;border-radius: 4px;display: flex;" class="cursor-pointer"
          routerLink="/fund/{{item.seoRegisterNumber}}/fund-detail/{{item.seoRegisterNumber}}">
          <svg viewBox="0 0 24 24" width="14px" height="14px" class=" text-primary">
            <use xlink:href="#ico_drop_left"></use>
          </svg>
        </span>
      </div>
      <h5 class="mb-2" style="color: #46503C;">{{ item.symbol }}</h5>
        <h6 class="mb-5" style="color: #919BA5;">{{ item.tags[2] }}</h6>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn btn-success py-2 w-75" (click)="openSubscriptionModal(item)">
            <h6 class="mb-0 text-white">
              سرمایه‌گذاری
            </h6>
          </button>
        </div>
      </div>
    </div>
  </div>
  }

  @if((mutualFundList$ | async)?.length < 3) {
  <div class="col-8 py-2 opportunity-item">
    <div class="card bg-success h-100">
      <div class="card-body text-white text-center">
        <div class="d-flex align-items-center flex-column">
          <img src="/images/Group23663.jpg" style="width:100%">
          <div class="d-flex flex-column h-100">
            <h6 class="my-2 ">
              صندوق‌های
            </h6>
            <h5 class="mb-2">
              سرمایه‌گذاری‌های اینده
            </h5>
            <h6>
              بزودی با تنوع‌های بیشتر.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>