<div class="card overflow-hidden">
  <div class="card-header bg-primary text-center text-white py-5">
    {{userContract?.id ? 'ویرایش': 'ثبت'}} قرارداد پرداخت مستقیم
  </div>
  <div class="card-body p-0">
    <div *ngIf="userHasScheduledContract" class="px-5 pt-5 text-danger">
      مشتری گرامی، هر گونه تغییر در سقف قرارداد شما موجب لغو پرداخت خودکار خواهد شد. البته که در هر زمان می‌توانید
      پرداخت خودکار جدیدی برای خود ثبت کنید.
    </div>
    <div class="p-5">
      <label>سقف قرارداد</label>
      <ng-select id="contractAmount" [searchable]="false" bindValue="amount" [items]="directDebitLimits()"
        [clearOnBackspace]="true" [clearable]="false" placeholder="سقف قرارداد"
        [(ngModel)]="selectedDirectDebitLimitId">
        <ng-template ng-label-tmp let-item="item">
          <span class="rial-label">ریال</span>
          <span class="mx-1 pe-6">
            {{ item?.amount | number }}
          </span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <span class="mx-1 pe-6">
            {{ item?.amount | number }}
          </span>
        </ng-template>
      </ng-select>
    </div>

    <div class="px-5 pb-5">
      <label>مدت قرارداد</label>

      <div class="d-flex gap-2">
        <button class="btn flex-fill position-relative" *ngFor="let duration of contractDurations()"
          [class.btn-primary]="selectedContractDurationCode === duration.code"
          [class.btn-cancel]="selectedContractDurationCode !== duration.code"
          (click)="selectedContractDurationCode = duration.code">
          {{duration.title}}
          <fa-icon style="left: 1rem;top: calc(50% - 7px)" class="position-absolute"
            *ngIf="selectedContractDurationCode === duration.code" icon="circle-check"></fa-icon>
        </button>
      </div>
    </div>
    <div class="px-5 pb-5">
      <label for="volume">شماره کارت(اختیاری)</label>
      <div class="input-group">
        <span class="input-group-text small text-white">
          <fa-icon icon="credit-card"></fa-icon>
        </span>
        <input pattern="[0-9]*" inputmode="decimal" type="text" class="form-control ltr text-end"
          [(ngModel)]="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx" mask="0000-0000-0000-0000"
          [ngClass]="{'is-invalid' : submitted() && !isCardNumberValid}" />
      </div>
      @if(submitted() && !isCardNumberValid){
        <div class="small text-danger me-2 mt-1">فرمت شماره کارت صحیح نیست</div>
        }
      </div>
    <div class="form-group px-5 pb-5">
      <label class="form-text text-muted small mb-2">
        کد تایید
      </label>
      <div class="input-group">
        <input pattern="[0-9]*" inputmode="decimal" name="otp" type="text" id="otp" mask="9*" maxlength="6"
          class="form-control ltr text-end" placeholder="کد تایید" [(ngModel)]="otp"
          [ngClass]="{'is-invalid': submitted() && !otp}" required />
        <div class="input-group-text text-center">
          @if(sendingOTP()){
          <div class="d-flex align-items-center h-100">
            ارسال کد تایید<span class="spinner-border spinner-border-sm mx-1"></span>
          </div>
          }@else{
          <button type="button" class="btn text-nowrap btn-radius text-center cursor-pointer" [style.width]="'120px'"
            (click)="sendOtp()" [counter]="{ seconds: 0, minutes: 2 }" [start]="hasOtpSent$ | async"
            [disabled]="disableOtpButton$ | async" (value)="onCounterValueChange($event)" text=" ارسال کد تایید"
            [showCounter]="showCounter$ | async" altText="ارسال کد"></button>
          }
        </div>
      </div>
      @if(submitted() && !otp){
      <div class="small text-danger me-2 mt-1">لطفا کد تایید را وارد نمایید</div>
      }
    </div>
    <div class="form-group px-5 pb-5">
      <div class="input-group d-flex flex-column p-2 flex-nowrap" style="border: 1px dashed; border-radius: 15px; background-color: #6633CC1A;">
        <div class="d-flex text-nowrap align-items-center">
          <input id="agreement" type="checkbox" class="checkbox ml-1 cursor-pointer"
            [(ngModel)]="directDebitAgreement" />
          <label for="agreement" class="h6 mt-3 d-block">قوانین و مقررات
            <a class="btn btn-link p-0 mb-1 mx-1" target="_blank" href="./docs/iPasargad_Direct_Debit_Contract.pdf">
              پرداخت مستقیم </a>را می‌پذیرم.
          </label>
        </div>

        <div class="mt-1 text-danger fs-6" *ngIf="submitted() && !directDebitAgreement">
          قوانین پرداخت مستقیم تایید نشده است.
        </div>
      </div>
    </div>


    <div class="border-0 w-100 d-flex px-5 pb-5">
      <button class="btn w-50 btn-cancel rounded-pill ms-1" (click)="close()">انصراف</button>
      <app-loading-button class="w-50" [isLoading]="submittingForm()" [disabled]="submittingForm()" [type]="'button'"
        cssClass="btn btn-primary rounded-pill text-white" (click)="registerContract($event)">
        تایید
      </app-loading-button>
    </div>
  </div>
</div>