  .logo-loading-placeholder {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 40%;
    background: linear-gradient(90deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
  }

  @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }

  ::ng-deep {
  .custom-popover.popover {
    background-color: #333;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    padding: 10px;
    max-width: 240px;
    direction: rtl;
    .popover-body {
      padding: 8px;
      color: #fff;
      text-align: center;

      a {
        color: #9b5eff !important;
        text-decoration: none;
      }
    }

    .popover-arrow{
      bottom: -8px;
      &::after {
        border-top-color: #333;
      }
    }
  }
  
  .fs-icon-sm {
    font-size: 0.85rem !important;
  }
}