<div class="position-relative" style="z-index: 3;">
  <!-- <ngb-carousel class="main-carousel" [showNavigationArrows]="false" interval="10000">
    <ng-template ngbSlide> -->
      <div class="gradient-bg d-flex flex-column justify-content-center">
        <div class="gradients-container position-absolute">
          <div class="g1"></div>
          <div class="g2"></div>
          <div class="g3"></div>
          <div class="g4"></div>
          <div class="g5"></div>
          <div class="interactive"></div>
        </div>

        <img src="/images/rhyton/slide-bg.png" alt="درصد سود بیشتر"
          style="max-height: 100%; top:50%; opacity: 0.5; left: 50%; transform: translate(-60%, -60%);"
          class="position-absolute" loading="lazy" />
        <!-- desktop Version (slide 1) -->
        <div class="d-none d-lg-block">
          <div
            class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative text-white p-4"
            style="width: 1064px;">
            <h4 class="ff-peyda mt-5">
              صندوق طلای قابل معامله
            </h4>
            <img src="/images/rhyton/carousel-bg-1.webp" alt="صندوق طلای ریتون" class="vase-management"
              loading="lazy" />
            <img src="/images/rhyton/rhyton.svg" class="mt-n4" style="max-width: 310px;" alt="صندوق طلای ریتون"
              loading="lazy" />
            <h3 class="ff-peyda text-center m-0 roller">
              <span class="roll-text">
                <div>با مبلغ کم،</div>
                <div>با امنیت بالا،</div>
                <div>بدون اجرت،</div>
                <div>بدون کارمزد،</div>
                <div>بدون مالیات،</div>
                <div>بدون دغدغه،</div>
                <div>کاملا آنلاین،</div>
              </span>
              <span>طلا بخر!</span>
            </h3>

            <a href="https://app.ipasargad.ir/auth/reg/step1"
              class="btn btn-purple text-white rounded-pill px-6 my-2 mb-5 py-2 mx-7">سرمایه‌گذاری می‌کنم</a>
          </div>
        </div>

        <!-- Mobile Version (slide 1) -->
        <div class="d-block d-lg-none w-100">
          <div class="content-container pt-4">
            <div class=" content-holder container-width h-100">
              <div class="h-100 mx-0 position-relative row">
                <div class="col-md-17 mx-auto h-100">
                  <div class="h-100 d-flex align-items-center justify-content-center flex-column pb-2">
                    <h4 class="ff-peyda mt-2">صندوق طلای قابل معامله</h4>
                    <img src="/images/rhyton/carousel-bg-1.webp" alt="صندوق طلای ریتون" class="vase-management"
                      loading="lazy" />
                    <img src="/images/rhyton/rhyton.svg" class="mt-n5" style="max-width: 310px; z-index: 2;"
                      alt="صندوق طلای ریتون" loading="lazy" />
                    <h3 class="ff-peyda text-center m-0 roller">
                      <span class="roll-text">
                        <div>با مبلغ کم،</div>
                        <div>با امنیت بالا،</div>
                        <div>بدون اجرت،</div>
                        <div>بدون کارمزد،</div>
                        <div>بدون مالیات،</div>
                        <div>بدون دغدغه،</div>
                        <div>کاملا آنلاین،</div>
                      </span>
                      <span>طلا بخر!</span>
                    </h3>
                    <a href="https://app.ipasargad.ir/auth/reg/step1"
                      class="btn btn-purple text-white rounded-pill px-6 my-4 mb-5 py-2">سرمایه‌گذاری می‌کنم</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </ng-template>
    <ng-template ngbSlide>
      <div class="gradient-bg gradient-bg-2 d-flex flex-column justify-content-center">
        <div class="gradients-container position-absolute">
          <div class="g1"></div>
          <div class="g2"></div>
          <div class="g3"></div>
          <div class="g4"></div>
          <div class="g5"></div>
          <div class="interactive"></div>
        </div> -->

        <!-- desktop Version (slide 2) -->
        <!-- <div class="d-none d-lg-block">
          <div class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative p-4"
            style="width: 1064px;">
            <h2 class="ff-peyda mb-2 mb-md-3 mb-sm-4 mt-7 opacity-75">
              سرمایه‌گذاری امن در طلا و سکه با صندوق ریتون
            </h2>
            <h5 class="ff-peyda fs-5 mx-6 px-6 mb-2 mb-md-3 mb-sm-4 mt-2 opacity-75">با ریتون، بدون مالیات و کارمزد و به
              صورت کاملا آنلاین و امن، در طلا و سکه سرمایه‌گذاری کنید.</h5>
            <img src="/images/rhyton/carousel-bg-3.webp" alt="" class="vase-management" loading="lazy" />
            <a href="https://app.ipasargad.ir/auth/reg/step1" class="btn btn-purple rounded-pill px-6 my-5 py-2">شروع
              سرمایه‌گذاری</a>
          </div>
        </div> -->

        <!-- Mobile Version (slide 2) -->
        <!-- <div class="d-block d-lg-none w-100">
          <div class="content-container pt-4">
            <div class=" content-holder container-width h-100">
              <div class="h-100 mx-0 position-relative row">
                <div class="col-md-17 mx-auto h-100">
                  <div class="h-100 d-flex align-items-center justify-content-center flex-column text-dark">
                    <h2 class="ff-peyda mb-2 mx-3 mb-md-3 mb-sm-4 mt-5">
                      سرمایه‌گذاری امن در طلا و سکه <br class="d-md-none" /> با صندوق طلای ریتون
                    </h2>
                    <h5 class="ff-peyda mx-4 px-2 mb-2 mb-md-3 mb-sm-4 mt-2">با ریتون، بدون مالیات و کارمزد و به صورت
                      کاملا آنلاین و امن، در طلا و سکه سرمایه‌گذاری کنید.</h5>

                    <img src="/images/rhyton/carousel-bg-3.webp" alt="" class="vase-management" loading="lazy" />
                    <a href="https://app.ipasargad.ir/auth/reg/step1"
                      class="btn btn-purple rounded-pill px-6 my-5 py-2">شروع سرمایه‌گذاری</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </ng-template>
  </ngb-carousel> -->
  <div class="d-flex flex-column align-items-center position-absolute bottom-0 w-100 p-0 pb-8 pb-lg-0">

    <div class="w-100 text-center d-flex justify-content-center auth-container">
      <!-- Mobile Version (navbar-expand) -->      
      <div class="d-md-none d-block">
        <div class="navbar navbar-expand-sm fixed-bottom  d-md-none m-2 rounded p-2 d-block" style="bottom: 70px;">                
          <div class="download-btn">
            <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank" title="دانلود مستقیم" style="all: unset !important;">
              <span class="me-1 ff-peyda">
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24" style="width: 33px;">
                <g id="Group_646" data-name="Group 646">
                  <path id="Path_1428" data-name="Path 1428" class="cls-2" d="M12,17.5V6.5"/>
                  <path id="Path_1429" data-name="Path 1429" class="cls-1" d="M6.7,12.7l4.5,4.6c.4.4,1.1.4,1.5,0,0,0,0,0,0,0l4.5-4.6"/>
                  <path id="Path_1430" data-name="Path 1430" class="cls-1" d="M12,21.5c5.2,0,9.5-4.3,9.5-9.5S17.2,2.5,12,2.5,2.5,6.8,2.5,12s4.3,9.5,9.5,9.5Z"/>
                </g>
              </svg>
              اپلیکیشن سرمایه‌گذاری آی‌پاسارگاد
              </span>         
            </a>
            <a href="/download" target="_blank" title="دانلود اپلیکیشن" style="all: unset !important;">
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24" style="width: 45px;">
                <path id="Path_2575" data-name="Path 2575" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round"
                      d="M12,1.7c-5.7,0-10.3,4.6-10.3,10.3s4.6,10.3,10.3,10.3,10.3-4.6,10.3-10.3c0-2.7-1.1-5.3-3-7.3-1.9-1.9-4.5-3-7.2-3ZM17.5,13h-9l3.5,3.6c.4.4.3,1.1-.1,1.4-.4.3-.9.3-1.3,0l-4.5-4.5c-.2-.2-.3-.4-.4-.7-.2-.5-.2-1.1,0-1.6.1-.3.3-.5.4-.7l4.5-4.5c.4-.4,1-.4,1.4,0s.4,1,0,1.4h0l-3.6,3.6h9.1c.6,0,1,.4,1,1s-.4,1-1,1h0Z"/>
              </svg>         
            </a>                                    
          </div>
        </div>
      </div>     
      <!-- end -->
      <div class="navbar navbar-expand-sm position-fixed rounded bottom-bar" style="background-color: #28323C; ">
        <div style="width: 50px; max-height: 50px; height: 50px; background-color: #555F69;"
          class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn mx-2 p-0">
          <img src="./images/logo-white.svg" style="width: 100%;" />
        </div>
        <a href="https://app.ipasargad.ir/auth/login"
          style="max-width: 50px; max-height: 50px; height: 50px; border-color: #555F69; cursor: pointer;"
          class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn ml-2 me-auto p-0 bg-transparent">
          <img src="./images/ico_person.svg" style="width: 50%;" />
        </a>
        <a href="https://app.ipasargad.ir/auth/reg/step1"
          style="white-space: nowrap; max-width: 184px; max-height: 50px; height: 50px; cursor: pointer;"
          class="btn btn-sm px-4 btn-success text-white mx-2 d-flex justify-content-center align-items-center">
          <div class="bg-white d-flex align-items-center justify-content-center ms-2"
            style="width: 20px; height: 20px; border-radius: 5px;">
            <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
          </div>
          شروع سرمایه گذاری
        </a>
      </div>
    </div>

    <img class="down-icon d-block mx-auto arrow-end text-white mb-5 mt-3" src="/images/double-arrow-down.svg" alt="" />
  </div>
</div>


<div class="content-container flex-column">
  <app-rhyton-features></app-rhyton-features>

  <app-fund-details></app-fund-details>

  <div class="container-width d-flex align-items-center flex-column container-padding">
    <img src="/images/rhyton/image-01.svg" alt="" class="mb-4 mx-0 mx-sm-5 pic-01" />
  </div>

  <section class="container-width d-flex align-items-center flex-column container-padding px-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="ff-peyda text-secondary mt-4 mt-sm-5 text-center">مراحل ثبت نام و سرمایه‌گذاری</h5>
        <h2 class="ff-peyda mb-5 text-center">نحوه سرمایه‌گذاری در صندوق ریتون</h2>
        <h4 class="text-justify px-3 mb-3">ساده‌ترین روش سرمایه‌گذاری در صندوق ریتون، ثبت نام در
          سامانه
          آی‌پاسارگاد است. پس از ثبت نام در این سامانه و ورود به آن می‌توانید با انتخاب صندوق ریتون و واریـــــز
          مبلغ مورد نظر با روش‌های موجود، ســــرمایه‌گذاری خود را آغــــــاز کنید.</h4>

        <div class="d-flex align-items-center row investment-steps flex-column flex-lg-row p-sm-4">
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <div class="arrow-container"><span></span></div>
            <img class="d-none d-lg-block mw-100" src="/images/1.png" alt="مرحله اول" />
            <img class="d-lg-none mw-50-x" src="/images/1m.png" alt="مرحله اول" />
          </div>
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <div class="arrow-container"><span></span></div>
            <img class="d-none d-lg-block mw-100" src="/images/2.png" alt="مرحله دوم" />
            <img class="d-lg-none mw-50-x" src="/images/2m.png" alt="مرحله دوم" />
          </div>
          <div class="col-lg-8 step-item d-flex flex-column align-items-center p-1">
            <img class="d-none d-lg-block mw-100" src="/images/3.png" alt="مرحله سوم" />
            <img class="d-lg-none mw-50-x" src="/images/3m.png" alt="مرحله سوم" />
          </div>
        </div>
        <h4 class="text-justify px-3 my-4">همچنین شمـــا می‌توانید با مــراجعه به پنـــــل معاملاتی
          کارگزاری‌ها در روزها و ســـــــاعـــــــات کاری بورس و جستجوی نمــــــاد «ریتون»، واحدهای مورد نیاز خود
          را خریداری کنید.</h4>

        <div class="row mb-3">
          <div class="col-md-12 d-flex my-1">
            <a href="https://app.ipasargad.ir/auth/reg/step1"
              class="btn btn-success rounded-pill text-white mx-auto ms-md-0" style="width: 220px;">ثبت نام
              در آی‌پاسارگاد</a>
          </div>
          <div class="col-md-12 d-flex my-1">
            <a href="https://academy.ipasargad.ir/instruction-to-sign-up-in-ipasargad/"
              class="btn btn-outline-secondary rounded-pill mx-auto me-md-0 border border-1 border-secondary"
              style="width: 220px;">راهنمای تصویری</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #tipContent>
  <div class="p-2">سامانه سرمایه‌گذاری آی‌پاسارگاد با امکاناتی مانند پرداخت متنوع، سرمایه‌گذاری خودکار و سود مجدد،
    مدیریت هوشمند
    دارایی را آسان می‌کند. کارت هدیه، گزارش‌های دقیق و امنیت بالا از دیگر مزایای آن است. این سامانه با دسترسی 24/7 و
    رابطه کاربری ساده، سرمایه‌گذاری در صندوق‌های متنوع را ممکن می‌سازد.</div>
</ng-template>
<div class="d-flex w-100 mb-5" style="background-color: #37414B;">
  <section
    class="container-width mx-auto d-flex flex-column align-items-center justify-content-center container-padding">
    <div
      class="ff-peyda d-flex align-items-center p-2 mt-2 justify-content-center justify-content-md-between text-white w-100">
      <h5 class="mb-0 fs-5">سایر فرصت‌های سرمایه‌گذاری</h5>
      <span class="align-items-center fs-6 gap-2 opacity-50 text-nowrap cursor-default d-none d-md-flex"
        [ngbTooltip]="tipContent" container="body">امکانات و ویژگی‌های هر صندوق
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 19px;" version="1.1" viewBox="0 0 24 24">
          <path fill="none" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,2.5C6.8,2.5,2.5,6.8,2.5,12s4.3,9.5,9.5,9.5,9.5-4.3,9.5-9.5S17.2,2.5,12,2.5Z" />
          <path fill="none" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,6.7v6.3" />
          <path fill="none" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,16.6h0" />
        </svg>
      </span>
    </div>

    <div class="d-md-none d-flex flex-column" style="max-width: 450px; width: 100%;">
      <ngb-carousel class="pt-3 pb-4 px-4 features-carousel" [showNavigationArrows]="false" interval="5000">
        <ng-template ngbSlide>
          <a href="/hezareh3-pod" target="_blank">
            <img src="/images/banner-hezareh.png" alt="" class="w-100 rounded" />
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a href="/pasargadetf" target="_blank">
            <img src="/images/banner-etf.webp" alt="" class="w-100 rounded" />
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a href="/takpod" target="_blank">
            <img src="/images/banner-takpod.webp" alt="" class="w-100 rounded" />
          </a>
        </ng-template>
      </ngb-carousel>
      <span
        class="mt-n4 mb-4 pt-2 ps-2 ms-4 me-auto fs-6 gap-2 opacity-50 text-nowrap cursor-default ff-peyda text-white"
        [ngbTooltip]="tipContent" container="body">امکانات و ویژگی‌های هر صندوق
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 19px;" version="1.1" viewBox="0 0 24 24">
          <path fill="none" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,2.5C6.8,2.5,2.5,6.8,2.5,12s4.3,9.5,9.5,9.5,9.5-4.3,9.5-9.5S17.2,2.5,12,2.5Z" />
          <path fill="none" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,6.7v6.3" />
          <path fill="none" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" stroke="CurrentColor"
            d="M12,16.6h0" />
        </svg>
      </span>

    </div>
    <div class=" d-none d-md-flex row mx-3 mx-lg-0">    
      <div class="col-8 my-4">
        <a href="/hezareh3-pod" target="_blank">
          <img src="/images/banner-hezareh.png" alt="" class="w-100 rounded" />
        </a>
      </div>
      <div class="col-8 my-4">
        <a href="/pasargadetf" target="_blank">
          <img src="/images/banner-etf.webp" alt="" class="w-100 rounded" />
        </a>
      </div>
      <div class="col-8 my-4">
        <a href="/takpod" target="_blank">
          <img src="/images/banner-takpod.webp" alt="" class="w-100 rounded" />
        </a>
      </div>      
    </div>
  </section>

</div>
<div class="content-container flex-column">

  <div class="d-flex flex-column align-items-center">
    <section class="section pb-3 container-padding container-width m-auto px-4">
      <div class="container-fluid px-0">
        <div class="row overflow-hidden mx-1 mx-lg-0">
          <div class="w-100 card need-help bg-success">
            <div class="card-body py-4 text-center">
              <h1 class="ff-peyda text-white my-2">نیاز به راهنمایی دارید؟</h1>
              <h4
                class="ff-peyda text-white my-4 px-2 px-md-5 text-justify col-24 col-lg-16 col-md-18 col-sm-20 mx-auto">
                کافی است شماره موبایل خود را وارد کنید تا در صورت نیاز کارشناسان ما با شما تماس بگیرند و راهنمایی
                لازم را
                برای سرمایه‌گذاری بهتر در اختیار شما بگذارند.
              </h4>
              <div class="col-24 col-lg-16 col-md-18 col-sm-20 mt-5 mt-5 mx-auto">
                <div class="gradient-border mx-4 mx-sm-auto"><input type="text"
                    placeholder="شماره تلفن همراه خود را وارد نمایید" class="w-100 h5 m-0 ltr text-center"
                    [(ngModel)]="mobileValue" (ngModelChange)="formatMobileNumber($event)" inputmode="numeric"
                    (keydown)="restrictMobileInput($event)" (paste)="restrictMobilePaste($event)"
                    style="height: 48px; background-color: #EBF5FF;" /></div>

              </div>
              <div class="w-100 d-flex align-items-center justify-content-center mt-4">
                <div
                  class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
                  <button (click)="onSaveLandingTicketClick()"
                    class="w-100 btn btn-link fs-6 text-decoration-none text-white" style="white-space: nowrap;">
                    @if (isMobileLoading()) {
                    <div class="loaderPixel">
                      <div class="pixels-container">
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                        <div class="pixels"></div>
                      </div>
                    </div>
                    }
                    @else {
                    <span>ثبت شماره برای دریافت مشاوره</span>
                    <img src="/images/arrow-left.svg" class="me-2" loading="lazy" width="20" height="20">
                    }
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section mb-0 container-padding container-width m-auto px-4">
    <div class="container-fluid h-100 px-1 px-md-0">

      <div class="row ">
        <div class="col-md-12 mb-4">
          <div class="card h-100 shadow-sm bg-panel-investing">
            <div class="card-body pt-4 d-flex flex-column bg-panel-svg"><img src="/images/academy-title.png"
                loading="lazy" alt="پشتیبانی مشتریان" width="138" class="align-self-center d-flex mb-4">
              <h5 class="mb-4 mx-3 px-lg-3 text-justify"> برای کسب اطلاعات بیشتر در مورد
                صندوق ریتون، دارایی‌های پایه صندوق، میزان و نحوه توزیع سود و آشنایی با روش‌های سرمایه‌گذاری
                در صندوق، مقاله زیر از آکادمی آی‌پاسارگاد را مطالعه کنید. </h5>
              <div class="w-100 d-flex align-items-center justify-content-center mt-auto mb-3">
                <div
                  class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
                  <a href="https://academy.ipasargad.ir/what-is-rhyton-gold-fund" target="_blank"
                    class="btn btn-link py-2 fs-6 text-decoration-none text-white" style="white-space: nowrap;">
                    <span>آموزش بیشتر</span>
                    <img src="/images/arrow-left.svg" class="me-2" loading="lazy" width="20" height="20"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="card h-100 shadow-sm bg-panel-support">
            <div class="card-body pt-4 text-center bg-panel-svg d-flex flex-column">
              <img src="/images/support-title.png" loading="lazy" alt="پشتیبانی مشتریان" width="138"
                class="align-self-center d-flex mb-4">
              <h5 class="mb-4 mx-3 px-lg-3 text-justify"> سوالات خود را با تیم پشتیبانی
                ما در میان بگذارید مشاوره رایگان برای شما فراهم شده است تا تمامی سوالات خود را با ما در میان
                بگذارید و بهترین تصمیمات مالی را اتخاذ کنید. </h5>
              <div class="w-100 d-flex align-items-center justify-content-center mt-auto mb-3">
                <div
                  class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
                  <a href="tel:0982158241000" class="w-100 btn btn-link py-2 fs-6 text-decoration-none text-white"
                    style="white-space: nowrap;">
                    <span>۰۲۱-۵۸۲۴۱۰۰۰</span>
                    <img src="/images/arrow-left.svg" class="me-2" loading="lazy" width="20" height="20"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-4 container-padding container-width m-auto px-4">
    <h2 class="ff-peyda text-secondary my-5 text-center">پرسش‌های متداول</h2>

    @for (item of faqs; track $index) {
    <div class="card mb-3 shadow-sm accordion-card-item" [ngClass]="{ expanded: !item.collapsed }">
      <div class="card-body">
        <div class="card-header  radius-10 cursor-pointer d-flex justify-content-between"
          [ngClass]="item.collapsed ? 'bg-transparent': 'bg-gray-150' " (click)="item.collapsed = !item.collapsed">
          <h4 class="mb-0 faq-item_question fw-bold ff-peyda"> {{ item.question }} </h4>

          <fa-icon size="lg" icon="caret-down" class="text-secondary faq-item_icon "></fa-icon>
        </div>

        <h4 class="accordion-content mb-0">
          {{ item.answer | persianNumber }}
        </h4>
      </div>
    </div>
    }
  </section>

  @if (showFooterAndContact()) {
  <section class="section mb-0 container-padding container-width m-auto px-3">
    <app-footer></app-footer>
  </section>
  }
</div>

@if (showFooterAndContact()) {
<app-contact-gadget class="d-block mb-10" [isShowAccountsInfo]="false"></app-contact-gadget>
}

@if (showLinkingGadget()) {
  <app-linking-gadget id="linkingGadget"></app-linking-gadget>
}