<section>

  <div class="text-center mt-6 mb-2">
    <img class="" loading="lazy" height="80px" src="./images/home/Academy/Academy_Logo.webp" alt="">
    <h2 class="mt-5 ff-peyda text-gray-175">راهنمای کامل سرمایه‌گذاری</h2>
  </div>

  <div class="academy-section">
    <div class="academy-box academy-shadow-right"></div>

    <div class="academy-box academy-card academy-box-02">
      <h5 class="pt-5 pe-4 text-bg-gray-500">راهنمای کاربری</h5>
      <div class="academy-content">
        <h3>
          صندوق طلای ریتون چیست؟ ترکیب دارایی،مزایا،معایب و نحوه سرمایه گذاری
        </h3>
      </div>
      <a href="https://academy.ipasargad.ir/what-is-rhyton-gold-fund/" class="text-decoration-none" target="_blank">
        <h4 class="text-start ms-4 mt-5 cursor-pointer">نمایش مطلب</h4>
      </a>
    </div>

    <div class="academy-box academy-card academy-box-03 active">
      <h5 class="pt-5 pe-4 text-bg-gray-500">راهنمای کاربری</h5>
      <div class="academy-content">
        <h3>معرفی اپلیکیشن آی‌پاسارگاد؛امنترین اپلیکیشن سرمایه‌گذاری درایران</h3>
      </div>
      <a href="https://academy.ipasargad.ir/ipasargad-application-instructions/" class="text-decoration-none" target="_blank">      
        <h4 class="text-start ms-4 mt-5 cursor-pointer">نمایش مطلب</h4>
      </a>
    </div>

    <div class="academy-box academy-card academy-box-04">
      <h5 class="pt-5 pe-4 text-bg-gray-500">راهنمای کاربری</h5>
      <div class="academy-content">
        <h3>صندوق درآمد ثابت پاسارگاد چیست؟ بررسی نحوه سرمایه‌گذاری در صندوق پاسارگاد</h3>
      </div>
      <a href="https://academy.ipasargad.ir/pasargad-fixed-income-fund/" class="text-decoration-none" target="_blank" style="all:unset">      
        <h4 class="text-start ms-4 mt-5 cursor-pointer">نمایش مطلب</h4>
      </a>
    </div>

    <div class="academy-box academy-shadow-left"></div>
  </div>

  <div class="w-100 d-flex align-items-center justify-content-center my-3">
    <div
      class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
      <a href="https://academy.ipasargad.ir" target="_blank"
        class="btn btn-link py-2 fs-6 text-decoration-none text-white" style="white-space: nowrap;">
        <span>
            ورود به آکادمی
        </span>
        <img src="/images/arrow-left.svg" loading="lazy" width="20" height="20" class="me-2"></a>
      </div>
  </div>

</section>