<div *ngIf="paymentState==0" class="d-flex flex-column justify-content-center align-items-center vh-100 bg-gray-150">
  <div class="card-wrapper my-auto">
    <div class="card shadow p-0 m-0 ">
      <div class="card-body  text-center">
        <img [src]="'svg/success.svg'" alt="subscription success" height="100px" width="100px" />
        <h4 class="text-center text-green mb-4">{{paymentStateName}}</h4>

        <div class="p-1 border-dashed  p-2 my-2 custom-radius d-flex justify-content-between">
          <span>کد رهگیری</span>
          <span>{{paymentId}}</span>
        </div>
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>نام صندوق</span>
          <span>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start align-items-center">
                <!-- <img *ngIf="fundDetail()?.attachments?.length > 0; else logoPlaceholder"
                  [src]="apiUrl + '/' + getLogo()?.downloadLink"
                  alt="Fund Logo" style="width: 30px;" class="ms-2" /> -->
                <!-- <app-svg-viewer *ngIf="fundDetail()?.attachments?.length > 0; else logoPlaceholder" style="width: 30px;" class="ms-2" [svgUrl]="apiUrl + '/' + getLogo()?.downloadLink"></app-svg-viewer> -->
                <ng-container *ngIf="getLogo() as logo; else logoPlaceholder">
                  <app-svg-viewer
                    [svgUrl]="apiUrl + '/' + getLogo()?.downloadLink"
                    class="ms-2"
                    style="width: 30px;">
                  </app-svg-viewer>
                </ng-container>
                <ng-template #logoPlaceholder>
                  <div class="logo-loading-placeholder ms-2"></div>
                </ng-template>
                <span class="my-2">{{ fundDetail()?.symbol }}</span>
              </div>
            </div>
          </span>
        </div>
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>تاریخ و ساعت پرداخت</span>
          <span style="direction: ltr;">{{date}}</span>
        </div>
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>مبلغ</span>
          <span>{{amount | number }} ریال</span>
        </div>

        <!-- <div class="d-flex align-items-center flex-column">
          <p class="text-justify mt-3 w-100 mb-0">
            سرمایه گذار محترم
          </p>
          <p class="text-justify mt-3">
            درخواست شما با موفقیت ثبت شد و صدور واحدهای سرمایه گذاری برای شما بر اساس قیمت صدور (NAV) اولین روز کاری، در
            دو روز کاری بعد انجام خواهد پذیرفت و باقیمانده مبلغ (تتمه مبلغ) به حساب شما بازگردانده خواهد شد.
          </p>
        </div> -->

        <div class="d-flex justify-content-between align-items-center mt-3 w-100">
          <textarea rows="10" readonly class="w-100 border-dashed custom-radius p-3 text-justify" [value]="message"
            #msgBox>{{ message }}</textarea>
        </div>

        <div class="d-flex">
          <a class="btn btn-gray-275 ms-2 text-black my-3 w-50" [href]="'https://app.ipasargad.ir/dashboard'">
            پیشخوان</a>
          <a class="btn btn-primary me-2 my-3 w-50" [href]="'https://app.ipasargad.ir/reporting/requests'">
            گزارش درخواست‌ها</a>
        </div>

      </div>

      <!-- <a class="btn rounded-pill btn-lg btn-primary btn-block mt-4" [routerLink]="['/dashboard']">ادامه</a> -->
    </div>
  </div>
</div>
<!-- ============================================================================================= -->
<div *ngIf="paymentState!=0" class="d-flex bg-gray-150 vh-100 flex-column  align-items-center">
  <div class="card-wrapper my-auto">
    <div class="card shadow">
      <div class="card-body text-center p-4 m-3">
        <img [src]="'svg/failure.svg'" alt="subscription failure" height="100px" width="100px" />
        <h4 class="text-center text-danger mb-4">{{paymentStateName}}</h4>

        <div class="p-1 border-dashed  p-2 my-2 custom-radius d-flex justify-content-between">
          <span>کد رهگیری</span>
          <span>{{paymentId}}</span>
        </div>
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>نام صندوق</span>
          <span>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start align-items-center">
                <!-- <img *ngIf="fundDetail()?.attachments?.length > 0; else logoPlaceholder"
                  [src]="apiUrl + '/' + getLogo()?.downloadLink"
                  alt="Fund Logo" style="width: 30px;" class="ms-2" /> -->
                <app-svg-viewer *ngIf="fundDetail()?.attachments?.length > 0; else logoPlaceholder" style="width: 30px;" class="ms-2" [svgUrl]="apiUrl + '/' + getLogo()?.downloadLink"></app-svg-viewer>
                <ng-template #logoPlaceholder>
                  <div class="logo-loading-placeholder ms-2"></div>
                </ng-template>
                <span class="my-2">{{ fundDetail()?.symbol }}</span>
              </div>
            </div>
          </span>
        </div>
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>تاریخ و ساعت پرداخت</span>
          <span style="direction: ltr;">{{date}}</span>
        </div>
        <!-- <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>قیمت صدور (NAV)</span>
          <span>{{fundDetail()?.performance?.lastSubscriptionNav | number }} ریال </span>
        </div> -->
        <div class="p-1 border-dashed p-2 my-2 custom-radius d-flex justify-content-between">
          <span>مبلغ</span>
          <span>{{amount | number }} ریال </span>
        </div>


        <p class="text-justify my-3">
          عملیات پرداخت با مشکل مواجه شده است. در صورت عدم بازگشت وجه پس از ۲۴ ساعت با پشتیبانی تماس بگیرید.
        </p>
        <div class="d-flex w-100">
          <a class="btn btn-gray-275 text-black ms-2 my-3 w-100" href="https://app.ipasargad.ir/dashboard">پیشخوان</a>
        </div>

      </div>
    </div>
  </div>
</div>