<div class="container-fluid">
    <div class="row ">
      <div class="w-100">
        <div class="card shadow-sm bg-ads">
          <div class="card-body p-4">
            <div class="text-center mb-5">
              <img height="120px" src="/images/logo-vertical.svg" alt="" />
            </div>
            <h4 class="fw-bold ff-peyda text-center mb-4" style="line-height: 1.2rem;">
              آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین پاسارگاد، راهکار جامع وحرفه‌ای برای سرمایه‌گذاری شماست
            </h4>
            <h4 class="mb-4 text-justify ff-peyda" style="line-height: 2rem;">
              آی‌پاسارگاد، سکوی سرمایه‌گذاری آنلاین پاسارگاد، یک راهکار
              جامع و حرفه‌ای برای سرمایه‌گذاری است. ما با هدف تسهیل فرآیند
              سرمایه‌گذاری، خدمات مالی متنوعی را ارائه می‌دهیم که به شما این
              امکان را می‌دهد بدون نیاز به تخصص، به‌راحتی و با اطمینان
              سرمایه‌گذاری کنید. مشاوره رایگان و امنیت تضمین‌شده، به شما کمک
              می‌کند تا قدرت خرید خود را حفظ و از بازدهی مطمئن لذت ببرید.
            </h4>

            <h4 class="text-justify ff-peyda" style="line-height: 2rem;">
              ماموریت ما ارائه بهترین راهکارهای سرمایه‌گذاری برای تمامی افراد
              است. چشم‌انداز ما ایجاد یک اکوسیستم مالی پویا و شفاف برای رشد
              اقتصادی کشور می‌باشد. ما به فرهنگ احترام، شفافیت و مسئولیت اجتماعی
              پایبندیم و ارزش‌های خود را در تمام تعاملات‌مان حفظ می‌کنیم.
            </h4>


            <h6 class=" text-center pb-3">
              نسخه {{appVersion}} 
              <!-- ({{appVersionCode}}) -->
              @if(appVersionCode){
                ({{appVersionCode}})
              }
            </h6>
        </div>
        </div>
      </div>
    </div>
  </div>