<div class="my-1" id="strength" #strength>
    <ul id="strengthBar">
        <li>
            <h6 [style.color]="bar0">
                @if(bar0==colorRed){
                    &#10003;
                }@else{
                    &#10006;
                }
                رمزعبور باید حداقل ۸ حرف داشته باشد
            </h6>
        </li>
        <li>
            <h6 [style.color]="bar1">
                @if(bar1==colorRed){
                    &#10003;
                }@else{
                    &#10006;
                    }
    
                رمزعبور باید شامل حروف کوچک انگلیسی باشد
            </h6>
        </li>

        <li>
            <h6 [style.color]="bar2">
                @if(bar2==colorRed){
                    &#10003;
                }@else{
                    &#10006;
                }
                رمزعبور باید شامل حروف بزرگ انگلیسی باشد
            </h6>
        </li>
        <li>
            <h6 [style.color]="bar3">
                @if(bar3==colorRed){
                    &#10003;
                }@else{
                    &#10006;
                }
                رمزعبور باید شامل حداقل یک عدد باشد
            </h6>
        </li>
        <li>
            <h6 [style.color]="bar4">
                @if(bar4==colorRed){
                    &#10003;
                }@else{
                    &#10006;
                }
                {{"رمزعبور باید شامل حروف خاص (*.&$#@!%^) باشد"}}
            </h6>
        </li>
    </ul>
</div>