<div class="bg-contact contact overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="w-100">
        <div class="card shadow-sm bg-ads bg-primary">
          <div class="card-body py-5">
            <h2 class="py-5 text-center ff-peyda">راه‌های ارتباط با ما</h2>

            <div class="col-lg-18 mx-auto">
              <div class="row">
                <div class="col-xl-8 col-lg-12 mb-3">
                  <div class="h-100 card shadow-sm ">
                    <div class="card-body py-5 text-center">
                      <h4 class="ff-peyda">
                        <fa-icon class="mx-1 d-inline-block text-info" [icon]="'at'"></fa-icon>
                        ایمیل
                      </h4>
                      <bdi class="text-nowrap">info&#64;ipasargad.ir</bdi>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-12 mb-3">
                  <div class="h-100 card shadow-sm">
                    <div class="card-body py-5 text-center">
                      <h4 class="ff-peyda">
                        <fa-icon class="mx-1 mirror d-inline-block text-info" [icon]="'phone'"></fa-icon>
                        تلفن
                      </h4>
                      <a href="tel:0982158241000" class="btn fs-6 p-0">
                        <bdi class="text-nowrap">
                          ۰۲۱-۵۸۲۴۱
                        </bdi>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-xl-8 col-lg-12 mb-3">
                  <div class="h-100 card shadow-sm">
                    <div class="card-body py-5 text-center">
                      <h4 class="ff-peyda">
                        <fa-icon class="mx-1 d-inline-block text-info" [icon]="'location-dot'"></fa-icon>
                        کد پستی
                      </h4>
                      ۱۴۳۹۸۳۵۱۳۳
                    </div>
                  </div>
                </div> -->

                <!-- <div class="col-lg-24 mb-3">
                  <div class="h-100 card shadow-sm">
                    <div class="card-body py-5 text-center">
                      <h4 class="ff-peyda"> <fa-icon class="mx-1 d-inline-block text-info"
                          [icon]="'map-location-dot'"></fa-icon>
                        آدرس</h4>
                        تهران – خیابان امیرآباد شمالی – خیابان فرشی مقدم – پلاک ۹۵
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
