<div class="card overflow-hidden">
    <div class="card-header bg-primary text-center text-white py-5">
        سرمایه‌گذاری مجدد از محل تقسیم سود صندوق
    </div>
    <div class="card-body ">
        <h5 class="lh-base" >شما می‌توانید سود بیشتری دریافت کنید و سود خود را به سرمایه تبدیل کنید.</h5>
        <h5 class="lh-base">و نیز همچنین می‌توانید بخشی از سود را دریافت و بخش دیگر را مجددا سرمایه‌گذاری نمایید.</h5>
        <h5 class="lh-base">از طریق انتخاب میزان سرمایه‌گذاری مجدد می‌توانید درصد سرمایه‌گذاری مجدد را تعیین نمایید.</h5>

        <div class="d-flex w-100 flex-nowrap justify-content-between align-items-center mt-3 mb-4">
            <div
                class="d-flex justify-content-between w-100 flex-column rounded flex-fill p-0 m-1 text-center border-2 border-dashed border-gray-275">
                <span class="p-2">درصد سرمایه‌گذاری مجدد</span>
                <span class="p-2">
                    <span class="fw-bold ms-1">{{activePercent()}}</span>
                    <span class="small">%</span>
                </span>
            </div>
            <div
                class="d-flex justify-content-between w-100 flex-column rounded flex-fill p-0 m-1 text-center border-2 border-dashed border-gray-275">
                <span class="p-2">درصد سود واریزی</span>
                <span class="p-2">
                    <span class="fw-bold ms-1">{{100-activePercent()}}</span>
                    <span class="small">%</span>
                </span>
            </div>
        </div>

        <input class="ltr w-100 my-2 bg-primary" style="cursor: grab;"
         type="range" min=0 max="100" value="{{activePercent()}}" #ranger (input)="percentChange(ranger.value)" step="{{25}}">
        

        <div class="ltr my-2 d-flex justify-content-between">
            <span class="btn text-white" (click)="percentChange(0)" [ngClass]="activePercent() == 0 ? 'btn-success' : 'btn-secondary'" >0%</span>
            <span class="btn text-white" (click)="percentChange(25)" [ngClass]="activePercent() == 25 ? 'btn-success' : 'btn-secondary'" >25%</span>
            <span class="btn text-white" (click)="percentChange(50)" [ngClass]="activePercent() == 50? 'btn-success' : 'btn-secondary'">50%</span>
            <span class="btn text-white" (click)="percentChange(75)" [ngClass]="activePercent() == 75 ? 'btn-success' : 'btn-secondary'">75%</span>
            <span class="btn text-white" (click)="percentChange(100)" [ngClass]="activePercent() == 100 ? 'btn-success' : 'btn-secondary'">100%</span>
        </div>

    </div>
    <div class="card-footer">
        <div class=" border-0 w-100 d-flex">
            <button class="btn w-50 m-2 btn-cancel rounded-pill " (click)="close()">
              انصراف
            </button>
            <app-loading-button class="w-50 m-2" [type]="'button'" [isLoading]="submitting()"
              cssClass="btn btn-success rounded-pill text-white" (click)="reinvestMutualFund($event)">
               تایید
            </app-loading-button>
          </div>
    </div>
</div>