<section class="mt-6 mb-8">
<div class="d-flex flex-column justify-content-center social-section">
  <div class="text-center social-text">
    <img src="/images/home/Social/iPasargad.webp" height="85" alt="آی‌پاسارگاد" loading="lazy" />
    <h3 class="text-secondary mt-3 mb-0">pasargadcapital</h3>
    <h5 class="text-secondary ff-peyda">گروه بازار سرمایه پاسارگاد</h5>
    <h1 class="text-secondary ff-peyda mt-4">"همراه شما در مسیر سرمایه‌گذاری هستیم"</h1>
    <h5 class="text-secondary ff-peyda mt-4">
      از آخرین فرصت‌های سرمایه گذاری، اخبار صندوق‌ها، طرح‌های اختصاصی و جوایز با خبر شوید
    </h5>
  </div>

<div class="social-lines">

    <!-- Left -->
    <div class="social-left d-none d-lg-flex">

        <div class="line-1">
            <img src="/images/home/Social/Line-1.svg" alt="">
        </div>

        <div class="repeat-right"></div>

    </div>

    <!-- Center -->
    <div class="line-center">

        <img class="line-center__bg"
             src="/images/home/Social/Line-2.svg"
             alt="">

        <div class="follow-box-wrap">

            <img
                class="follow-box"
                src="/images/home/Social/Follow.webp"
                alt="">

        </div>

      <!-- Social icons overlay -->
      <div class="social-overlay">
        <a href="https://www.aparat.com/PasargadCapital" target="_blank" title="آپارات" style="all:unset!important;">
          <img src="/images/home/Social/Aparat.webp" class="si si--aparat" height="40" alt="آپارات" loading="lazy" />
        </a>
        <a href="https://instagram.com/pasargadcapital" target="_blank" title="اینستاگرام" style="all:unset!important;">
          <img src="/images/home/Social/Instagram.webp" class="si si--instagram" height="40" alt="اینستاگرام" loading="lazy" />
        </a>
        <a href="https://www.linkedin.com/company/pasargad-capital-market-group" target="_blank" title="لینکدین" style="all:unset!important;">
          <img src="/images/home/Social/Linkdin.webp" class="si si--linkedin" height="40" alt="لینکدین" loading="lazy" />
        </a>
        <a href="https://t.me/pasargadcapital" target="_blank" title="تلگرام" style="all:unset!important;">
          <img src="/images/home/Social/Telegram.webp" class="si si--telegram" height="40" alt="تلگرام" loading="lazy" />
        </a>

        <img src="/images/home/Social/Dot.webp" class="dot dot--1" height="20" alt="" loading="lazy" />
        <img src="/images/home/Social/Dot.webp" class="dot dot--2" height="20" alt="" loading="lazy" />
        <img src="/images/home/Social/Dot.webp" class="dot dot--3" height="20" alt="" loading="lazy" />
        <img src="/images/home/Social/Dot.webp" class="dot dot--4" height="20" alt="" loading="lazy" />
      </div>
    </div>

    <!-- Right -->
    <div class="social-right d-none d-lg-flex">

        <div class="repeat-left"></div>

        <div class="line-3">
            <img src="/images/home/Social/Line-3.svg" alt="">
        </div>

    </div>


  </div>
</div>

</section>