<form [formGroup]="form" novalidate [mustMatch]="['newPassword', 'confirmPassword']" >

    <div class="form-group mb-3">
        <!-- <app-password-input  [infoText]="" [showStrengthPassword]="false"
            placeHolder="کلمه عبور فعلی" formControlName="currentPassword"
            name="currentPassword" type="password">
        </app-password-input> -->
        <label class="mb-2" for="currentPassword">کلمه عبور فعلی</label>
        <app-password  id="currentPassword" formControlName="currentPassword" #currentPassword/>


        <div *ngIf="((isFormInvalidForOtpRequest$ | async) || (formSubmitted$ | async)) && f.currentPassword.errors"
            class="text-danger small">
            <div *ngIf="f.currentPassword.errors.required"> کلمه عبور فعلی را وارد نمایید
            </div>
        </div>
    </div>

    <div class="form-group mb-3">

        <div>
            <small class="text-label">&#9733; کلمه عبور باید شامل حداقل 8 کاراکتر با ترکیب حروف بزرگ
                و کوچک انگلیسی و عدد و
                کاراکترهای ویژه باشد</small>
        </div>

        <!-- <app-password-input  [infoText]="" [showStrengthPassword]="true"
            placeHolder="کلمه عبور جدید" formControlName="newPassword" name="newPassword"
            type="password">
        </app-password-input> -->
        <label class="mb-2" for="newPassword">کلمه عبور جدید</label>
        <app-password  id="newPassword" formControlName="newPassword" [showPasswordObligations]="true" #password/>

        <div *ngIf="((isFormInvalidForOtpRequest$ | async) || (formSubmitted$ | async)) &&  f.newPassword.errors"
            class="text-danger small">
            <div *ngIf="f.newPassword.errors.required"> کلمه عبور را وارد نمایید </div>
            <div *ngIf="f.newPassword.errors.poorPassword"> کلمه عبور با پیچیدگی بیشتر
                انتخاب کنید</div>
        </div>
    </div>
    <div class="form-group mb-3">
        <!-- <app-password-input  [infoText]="" [showStrengthPassword]="false"
            placeHolder="تکرار کلمه عبور " formControlName="confirmPassword"
            name="confirmPassword" type="password">
        </app-password-input> -->
        <label class="mb-2" for="confirmPassword">تکرار کلمه عبور </label>
        <app-password  id="confirmPassword" formControlName="confirmPassword" #confirmPassword/>


        <div *ngIf="((isFormInvalidForOtpRequest$ | async) || (formSubmitted$ | async)) && f.confirmPassword.errors"
            class="text-danger small">
            <div *ngIf="f.confirmPassword.errors.required"> تکرار کلمه عبور را وارد نمایید
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">کلمه عبور و تکرار آن یکسان
                نمی‌باشد</div>
            <div *ngIf="f.confirmPassword.errors.poorPassword"> کلمه عبور با پیچیدگی بیشتر
                انتخاب کنید</div>
        </div>
    </div>
    


    <div class="form-group mb-3">
        <div class="input-group">
            <input autocomplete="off" formControlName="otp" class="form-control"  inputmode="numeric"
                type="text" placeholder="کد تایید ">
            <div class="input-group-append me-2">
                <button (click)="sendOtp()" [counter]="{seconds: 0, minutes: 1}"
                    [start]="isOtpSend$ | async" [disabled]="(isOtpSend$ | async)"
                    (value)="onCounterValueChange($event)" text="ارسال کد تایید"
                    altText="ارسال مجدد کد" class="btn btn-secondary"
                    type="button">ارسال کد
                    تایید</button>
            </div>
        </div>
        <div *ngIf="(formSubmitted$ | async) && f.otp.errors" class="text-danger small">
            <div *ngIf="f.otp.errors.required"> کد تایید الزامی می‌باشد</div>
        </div>
    </div>

    <button (click)="changePassword()" class="btn btn-primary btn-block mt-3 px-5">
        <span class="">تغییر کلمه عبور</span>
    </button>
</form>