
<div class="m-3 border-radius-15 p-2" style="background-color: #252F38;">
    <div class="icon-container">
        <span routerLink="/dashboard" class="text-white d-flex flex-column align-items-center justify-content-center"
            routerLinkActive="activate-route">
            <svg viewBox="0 0 24 24" width="24px" height="24px">
                <use xlink:href="#ico_home"></use>
            </svg>
            <small>داشبورد</small>
        </span>
        <span routerLink="/reporting" class="text-white d-flex flex-column align-items-center justify-content-center"
            routerLinkActive="activate-route">
            <svg viewBox="0 0 24 24" width="24px" height="24px">
                <use xlink:href="#ico_chart_bar_box"></use>
            </svg>
            <small>گزارش‌ها</small>
        </span>
        <span routerLink="/mobile/more-tools" class="text-white d-flex flex-column align-items-center justify-content-center"
            routerLinkActive="activate-route">
            <svg viewBox="0 0 24 24" width="24px" height="24px">
                <use xlink:href="#ico_app"></use>
            </svg>
            <small>ابزارها</small>
        </span>
        <span routerLink="/portfolio" class="text-white d-flex flex-column align-items-center justify-content-center"
            routerLinkActive="activate-route">
            <svg viewBox="0 0 24 24" width="24px" height="24px">
                <use xlink:href="#ico_portfolio"></use>
            </svg>
            <small>دارایی</small>
        </span>
        <span routerLink="/mobile/profile" class="text-white d-flex flex-column align-items-center justify-content-center"
        routerLinkActive="activate-route">
        <svg viewBox="0 0 24 24" width="24px" height="24px">
            <use xlink:href="#ico_person_circle"></use>
        </svg>
        <small>حساب من</small>
        </span>

    </div>
</div>