<section class="section container-padding text-center px-4" id="features">

  <h5 class="ff-peyda text-secondary mt-6 mb-3">ویژگی‌های کلیدی اپلیکیشن</h5>
  <h2 class="ff-peyda px-3 mb-4">اپلیکیشن سرمایه‌گذاری آی‌پاسارگاد</h2>
  <h4 class="ff-peyda text-secondary mb-5">خدمات جامع سرمایه‌گذاری در دستان شماست</h4>

  <div class="features-container ff-peyda">

    <div class="feature-card">
      <div class="w-100 position-relative">

        <div class="float-container">
          <img class="bg-back img-fluid" loading="lazy" src="./images/home/QuickRegistration/Back.webp" alt="" lazy="">
          <img class="img-fluid card-0" loading="lazy" src="./images/home/QuickRegistration/Chart.webp" alt=""
            style="position: absolute;top: 38px;right: 70px; height: 230px;width: 70%;">
          <img class="img-fluid float-card card-1" loading="lazy" src="./images/home/QuickRegistration/Card-1.webp"
            alt="" style="position: absolute;top: 20px;left: 55px;height: 85px; transform: rotate(354deg);">
          <img class="img-fluid float-card card-2" loading="lazy" src="./images/home/QuickRegistration/Card-2.webp"
            alt="" style="position: absolute;bottom: 30px;right: 30px;height: 60px;transform: rotate(1deg);">
        </div>

      </div>
      <h4 class="my-3 fw-bolder">ثبت نام سریع با چند کلیک</h4>
      <h5 class="text-justify px-4 text-secondary">
        در آی‌پاسارگاد می‌توانید بدون مراجعه حضوری و در چند مرحله ساده، حساب کاربری خود را ایجاد و سرمایه‌گذاری را آغاز
        کنید.
      </h5>
    </div>

    <div class="feature-card">
      <div class="w-100 position-relative overflow-hidden">

        <img class="bg-back img-fluid" loading="lazy" src="./images/home/PaymentMethod/Back.webp" alt="">

        <div class="cards-marquee">
          <div class="cards-track">

            <!-- سری اول -->
            <img src="./images/home/PaymentMethod/Card-1.webp" alt="">
            <img src="./images/home/PaymentMethod/Card-2.webp" alt="">
            <img src="./images/home/PaymentMethod/Card-3.webp" alt="">

            <!-- سری دوم برای لوپ بی‌نهایت -->
            <img src="./images/home/PaymentMethod/Card-1.webp" alt="">
            <img src="./images/home/PaymentMethod/Card-2.webp" alt="">
            <img src="./images/home/PaymentMethod/Card-3.webp" alt="">

          </div>
        </div>

        <img class="mouse-img" loading="lazy" src="./images/home/PaymentMethod/Mouse.webp" alt="">

      </div>
      <h3 class="my-3">روش‌های پرداخت متنوع</h3>
      <h5 class="text-justify px-4 text-secondary">
        با فراهم بودن مسیرهای پرداخت مختلف، می‌توانید متناسب با شرایط خود، فرآیند واریز و برداشت را مدیریت کنید.
      </h5>
    </div>

    <div class="feature-card">
      <div class="w-100 position-relative">

        <div class="safe-supervised">

          <img class="bg" src="./images/home/SafeSupervised/Back.webp" alt="">

          <!-- Hezare Sevom -->
          <div class="orbit orbit-1" style="--r:73.3cqw; --mid:-5.7deg; --amp:40deg; --dur:9s; --delay:-2s;">
            <div class="arm">
              <div class="sat">
                <img class="orbit-logo" src="./images/home/SafeSupervised/Hezare_Sevom.webp" alt="">
              </div>
            </div>
          </div>

          <!-- ETF -->
          <div class="orbit orbit-2" style="--r: 49.1cqw;--mid: -11.6deg;--amp: 41deg; --dur: 22s;--delay: -4s;">
            <div class="arm">
              <div class="sat">
                <img class="orbit-logo" src="./images/home/SafeSupervised/ETF.webp" alt="">
              </div>
            </div>
          </div>

          <!-- Ryton -->
          <div class="orbit orbit-3" style="--r: 61.5cqw;--mid: -2deg;--amp: 47deg;--dur: 18s;--delay: -1s;">
            <div class="arm">
              <div class="sat">
                <img class="orbit-logo" src="./images/home/SafeSupervised/Ryton.webp" alt="">
              </div>
            </div>
          </div>

          <!-- Takpod -->
          <div class="orbit orbit-4" style="--r: 38.5cqw; --mid: -10.6deg;--amp: 54deg;--dur: 10s;--delay: -3s;">
            <div class="arm">
              <div class="sat">
                <img class="orbit-logo" src="./images/home/SafeSupervised/Takpod.webp" alt="">
              </div>
            </div>
          </div>

          <!-- Shield -->
          <img class="shield" src="./images/home/SafeSupervised/Shild.webp" alt="">

        </div>

      </div>
      <h3 class="my-3">امن و تحت نظارت سازمان بورس</h3>
      <h5 class="text-justify px-4 text-secondary">
        سرمایه‌گذاری در آی‌پاسارگاد در بستر رسمی بازار سرمایه کشور و تحت نظارت نهادهای قانونی انجام می‌شود.
      </h5>
    </div>

    <div class="feature-card">
      <div class="w-100 position-relative overflow-hidden">
        <div class="investment-fund-wrapper">
          <img class="bg-back img-fluid" loading="lazy" src="./images/home/InvestmentFund/Back.webp" alt="">
          <img class="img-fluid fund-item item-iPasargad" loading="lazy"
            src="./images/home/InvestmentFund/iPasargad.webp" alt=""
            style="position: absolute;top: 30%;left: 50%;transform: translate(-50%, -50%); height: 140px;">
          <img class="img-fluid fund-item-InvestmentFund fund-item-1" loading="lazy"
            src="./images/home/InvestmentFund/1.webp" alt=""
            style="position: absolute;bottom: 50px;right: -120px;height: 50px; transform: rotate(17deg);">
          <img class="img-fluid fund-item-InvestmentFund fund-item-2" loading="lazy"
            src="./images/home/InvestmentFund/2.webp" alt=""
            style="position: absolute;bottom: 80px;right: 5px;height: 45px;transform: rotate(330deg);">
          <img class="img-fluid fund-item-InvestmentFund fund-item-3" loading="lazy"
            src="./images/home/InvestmentFund/3.webp" alt=""
            style="position: absolute;bottom: 0px;right: -160px;height: 50px;transform: rotate(17deg);">
          <img class="img-fluid fund-item-InvestmentFund fund-item-4" loading="lazy"
            src="./images/home/InvestmentFund/4.webp" alt=""
            style="position: absolute;bottom: 10px;right: 55px;height: 50px;">
          <img class="img-fluid fund-item-InvestmentFund fund-item-5" loading="lazy"
            src="./images/home/InvestmentFund/5.webp" alt=""
            style="position: absolute;bottom: 5px;left: -5px;height: 52px;transform: rotate(352deg);">
          <img class="img-fluid fund-item-InvestmentFund fund-item-6" loading="lazy"
            src="./images/home/InvestmentFund/6.webp" alt=""
            style="position: absolute;bottom: 75px;left: 0px;height: 50px;transform: rotate(347deg);">
          <img class="img-fluid fund-item-InvestmentFund fund-item-7" loading="lazy"
            src="./images/home/InvestmentFund/7.webp" alt=""
            style="position: absolute;bottom: 70px;left: 137px;height: 50px;transform: rotate(1deg);">
        </div>
      </div>
      <h3 class="my-3">صندوق‌های سرمایه گذاری متنوع</h3>
      <h5 class="text-justify px-4 text-secondary">
        آی‌پاسارگاد امکان دسترسی به صندوق‌های مختلف (درآمدثابت، طلا، سهامی) را فراهم می‌کند تا متناسب با میزان
        ریسک‌پذیری و هدف مالی خود انتخاب کنید.
      </h5>
    </div>

  </div>

</section>