<div class="position-relative" style="z-index: 3;">
  <div class="gradient-bg d-flex flex-column justify-content-center">
    <div class="gradients-container position-absolute">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>

    <!-- desktop Version -->
    <div class="d-none d-md-block pb-10">
      <div class="d-flex align-items-center justify-content-center flex-column mx-auto position-relative text-white p-4"
        style="max-width: 1064px;">
        <h4 class="ff-peyda mt-5">با اپلیکیشن آی‌پاسارگاد سرمایه‌گذاری آسان تر از همیشه است!</h4>
        <img src="/images/download/download-bg.png" alt="دانلود اپلیکیشن" class="vase-management" loading="lazy" />
        <img class="down-icon d-block mx-auto arrow-end text-white mb-5 mt-3" src="/images/double-arrow-down.svg"
          alt="" />
        <h4 class="text-center my-2">فقط این کد QR را اسکن کنید</h4>
        <div class="qr-code-container mb-3">
          <div class="qr-code">
            <img src="/images/download/qr-app.svg" class="w-100" alt="" loading="lazy" />
          </div>
        </div>
        <h4 class="ff-peyda text-center lh-base mb-4 mt-2 fw-light">
          برای استفاده و آغاز سرمایه‌گذاری در آی‌پاسارگاد <br />
          یکی از گزینه‌های زیر را انتخاب کنید.
        </h4>
        <div class="download-links d-flex flex-column">
          <div class="d-flex align-items-center download-links-row w-100 gap-3">
            <a href="https://cafebazaar.ir/app/ir.ipasargad.app" target="_blank"
              class="btn btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
              <img src="/images/download/bazar-sign.svg" alt="" class="sign" />
              <div class="d-flex flex-column justify-content-center">
                <span class="ff-peyda fs-6 text-right">دریافت از</span>
                <img src="/images/download/bazar-typo.svg" class="typo" alt="">
              </div>
            </a>

            <a href="https://myket.ir/app/ir.ipasargad.app" target="_blank"
              class="btn bg-transparent btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
              <img src="/images/download/myket-sign.svg" alt="" class="sign" />
              <div class="d-flex flex-column justify-content-center">
                <span class="ff-peyda fs-6 text-right">دریافت از</span>
                <img src="/images/download/myket-typo.svg" class="typo" alt="">
              </div>
            </a>

            <a href="#" target="_blank" disabled="disabled"
              class="btn disabled bg-transparent opacity-50 btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
              <img src="/images/download/g-store-sign.svg" alt="" class="sign" />
              <div class="d-flex flex-column justify-content-center">
                <span class="ff-peyda fs-6 text-right">دریافت از</span>
                <img src="/images/download/g-store-typo.svg" class="typo" alt="">
              </div>
            </a>
          </div>
          <div class="d-flex align-items-center download-links-row w-100 gap-3">
            <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank"
              class="btn btn-outline-white text-white pe-4 py-1 mb-3 border border-1 w-50 d-flex align-items-center justify-content-center download-link">
              <img src="/images/download/download-sign.svg" alt="" class="sign" />
              <span class="ff-peyda fs-5 text-right ms-auto">دانلود مستقیم</span>
            </a>

            <a href="https://app.ipasargad.ir/auth/login" target="_blank"
              class="btn btn-outline-white text-white pe-4 py-1 mb-3 border border-1 w-50 d-flex align-items-center justify-content-center download-link">
              <img src="/images/download/pwa.svg" alt="" class="sign ms-auto" />
              <span class="ff-peyda fs-5 text-right ms-auto">وب‌اپلیکیشن</span>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- Mobile Version -->
    <div class="d-block d-md-none w-100">
      <div class="content-container pt-4">
        <div class=" content-holder container-width h-100">
          <div class="h-100 mx-0 position-relative row">
            <div class="col-md-17 mx-auto h-100">
              <div class="mt-8 d-flex align-items-center justify-content-center flex-column pb-2">
                <h4 class="ff-peyda ff-peyda mt-2">با اپلیکیشن آی‌پاسارگاد سرمایه‌گذاری<br /> آسان تر از همیشه است!</h4>
                <img src="/images/download/download-bg.png" alt="" class="vase-management" loading="lazy" />
                <img class="down-icon d-block mx-auto arrow-end text-white mb-5 mt-3"
                  src="/images/double-arrow-down.svg" alt="" />
                <h4 class="ff-peyda text-center lh-base mb-4 mt-2 fw-light">
                  برای استفاده و آغاز سرمایه‌گذاری در آی‌پاسارگاد <br />
                  یکی از گزینه‌های زیر را انتخاب کنید.
                </h4>
                <div class="d-flex flex-column">
                  <a href="https://cafebazaar.ir/app/ir.ipasargad.app" target="_blank"
                    class="btn btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
                    <img src="/images/download/bazar-sign.svg" alt="" class="sign" />
                    <div class="d-flex flex-column justify-content-center">
                      <span class="ff-peyda fs-6 text-right">دریافت از</span>
                      <img src="/images/download/bazar-typo.svg" class="typo" alt="">
                    </div>
                  </a>

                  <a href="https://myket.ir/app/ir.ipasargad.app" target="_blank"
                    class="btn btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
                    <img src="/images/download/myket-sign.svg" alt="" class="sign" />
                    <div class="d-flex flex-column justify-content-center">
                      <span class="ff-peyda fs-6 text-right">دریافت از</span>
                      <img src="/images/download/myket-typo.svg" class="typo" alt="">
                    </div>
                  </a>

                  <a href="#" target="_blank" disabled="disabled"
                    class="btn disabled bg-transparent opacity-50 btn-outline-white text-white pe-4 py-1 flex-grow-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
                    <img src="/images/download/g-store-sign.svg" alt="" class="sign" />
                    <div class="d-flex flex-column justify-content-center">
                      <span class="ff-peyda fs-6 text-right">دریافت از</span>
                      <img src="/images/download/g-store-typo.svg" class="typo" alt="">
                    </div>
                  </a>

                  <a href="/download/iPasargad-v1.0.0-(11)-2026-05-30.apk" target="_blank"
                    class="btn btn-outline-white text-white pe-4 py-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
                    <img src="/images/download/download-sign.svg" alt="" class="sign" />
                    <span class="ff-peyda fs-5 text-right ms-auto">دانلود مستقیم</span>
                  </a>

                  <a href="https://app.ipasargad.ir/auth/login" target="_blank"
                    class="btn btn-outline-white text-white pe-4 py-1 mb-3 border border-1 d-flex align-items-center justify-content-center download-link">
                    <img src="/images/download/pwa.svg" alt="" class="sign ms-auto" />
                    <span class="ff-peyda fs-5 text-right ms-auto">وب‌اپلیکیشن</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
    <app-features></app-features>
  </div>

  @if (showFooterAndContact()) {
  <app-contact-gadget class="d-block position-relative z-3" [isShowAccountsInfo]="false"></app-contact-gadget>
  }
  <div class="d-flex flex-column align-items-center position-absolute bottom-0 w-100 p-0 pb-8 pb-lg-0">

    <div class="w-100 text-center d-flex justify-content-center auth-container">
      <div class="navbar navbar-expand-sm position-fixed rounded bottom-bar" style="background-color: #28323C; ">
        <div style="width: 50px; max-height: 50px; height: 50px; background-color: #555F69;"
          class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn mx-2 p-0">
          <img src="./images/logo-white.svg" style="width: 100%;" />
        </div>
        <a href="https://app.ipasargad.ir/auth/login"
          style="max-width: 50px; max-height: 50px; height: 50px; border-color: #555F69; cursor: pointer;"
          class="align-items-center border-1 btn btn-gray-150 btn-outline-secondary d-flex justify-content-center login-btn ml-2 me-auto p-0 bg-transparent">
          <img src="./images/ico_person.svg" style="width: 50%;" />
        </a>
        <a href="https://app.ipasargad.ir/auth/reg/step1"
          style="white-space: nowrap; max-width: 184px; max-height: 50px; height: 50px; cursor: pointer;"
          class="btn btn-sm px-4 btn-success text-white mx-2 d-flex justify-content-center align-items-center">
          <div class="bg-white d-flex align-items-center justify-content-center ms-2"
            style="width: 20px; height: 20px; border-radius: 5px;">
            <img src="/images/ico_s_act_ plus.svg" loading="lazy" alt="">
          </div>
          شروع سرمایه گذاری
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-container flex-column">
  <div class="ff-peyda text-white w-100 app-statistics bg-purple mb-4 py-3">
    <section
      class="container-width mx-auto d-flex flex-column align-items-center justify-content-center container-padding">
      <div class="fs-5 text-white text-center my-4">سامانه آی پاسارگاد در یک نگاه</div>
      <div class="row mx-3 mx-lg-0 w-100">
        <div class="col-md-8 my-4">
          <div class="d-flex flex-column align-items-center">
            <img style="width: 24px;" class="mb-3" src="/images/download/wealth-ico.svg" alt="">
            <h2 class="mb-1 fs-1">15,000B</h2>
            <h4>دارایی تحت مدیریت</h4>
          </div>
        </div>
        <div class="col-md-8 my-4">
          <div class="d-flex flex-column align-items-center">
            <img style="width: 24px;" class="mb-3" src="/images/download/peoples-ico.svg" alt="">
            <h2 class="mb-1 fs-1">+20,000</h2>
            <h4>سرمایه‌گذار</h4>
          </div>
        </div>
        <div class="col-md-8 my-4">
          <div class="d-flex flex-column align-items-center">
            <img style="width: 24px;" class="mb-3" src="/images/download/fund-ico.svg" alt="">
            <h2 class="mb-1 fs-1">+10</h2>
            <h4 class="text-center">صندوق‌ها و سبدهای سرمایه‌گذاری</h4>
          </div>
        </div>
      </div>
      <a href="https://app.ipasargad.ir/auth/reg/step1"
        class="btn btn-success text-white rounded-pill px-6 my-2 mb-4 py-2 mx-auto">ثبت‌نام در آی‌پاسارگاد</a>
    </section>
  </div>
</div>

<div class="content-container flex-column">
  <section class="container-width d-flex align-items-center flex-column container-padding">
    <section class="section pb-3 w-100" id="guide">
      <div class="container-fluid px-0">
        <div class="row overflow-hidden mx-3 mx-lg-0">
          <div class="w-100">
            <div class="card need-help bg-success">
              <div class="card-body py-4 text-center">
                <h1 class="ff-peyda text-white my-2">نیاز به راهنمایی دارید؟</h1>
                <h4
                  class="ff-peyda text-white my-4 px-2 px-md-5 text-justify col-24 col-lg-16 col-md-18 col-sm-20 mx-auto">
                  کافی است شماره موبایل خود را وارد کنید تا در صورت نیاز کارشناسان ما با شما تماس بگیرند و راهنمایی
                  لازم را
                  برای سرمایه‌گذاری بهتر در اختیار شما بگذارند.
                </h4>
                <div class="col-24 col-lg-16 col-md-18 col-sm-20 mt-5 mt-5 mx-auto">
                  <div class="gradient-border mx-4 mx-sm-auto"><input type="text"
                      placeholder="شماره تلفن همراه خود را وارد نمایید" class="w-100 h5 m-0 ltr text-center"
                      [(ngModel)]="mobileValue" (ngModelChange)="formatMobileNumber($event)" inputmode="numeric"
                      (keydown)="restrictMobileInput($event)" (paste)="restrictMobilePaste($event)"
                      style="height: 48px; background-color: #EBF5FF;" /></div>

                </div>
                <div class="w-100 d-flex align-items-center justify-content-center mt-4">
                  <div
                    class="text-start d-flex align-items-center justify-content-center gradient-btn d-flex align-items-center justify-content-center">
                    <button (click)="onSaveLandingTicketClick()"
                      class="w-100 btn btn-link fs-6 text-decoration-none text-white" style="white-space: nowrap;">
                      @if (isMobileLoading()) {
                      <div class="loaderPixel">
                        <div class="pixels-container">
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                          <div class="pixels"></div>
                        </div>
                      </div>
                      }
                      @else {
                      <span>ثبت شماره برای دریافت مشاوره</span>
                      <img src="/images/arrow-left.svg" class="me-2" loading="lazy" width="20" height="20">
                      }
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<div class="content-container flex-column">
  <section class="container-width d-flex align-items-center flex-column container-padding">
    <section class="section pb-4 w-100 px-4" id="faq">
      <h2 class="ff-peyda text-secondary my-5 text-center">پرسش‌های متداول</h2>

      @for (item of faqs; track $index) {
      <div class="card mb-3 shadow-sm accordion-card-item" [ngClass]="{ expanded: !item.collapsed }">
        <div class="card-body">
          <div class="card-header  radius-10 cursor-pointer d-flex justify-content-between"
            [ngClass]="item.collapsed ? 'bg-transparent': 'bg-gray-150' " (click)="item.collapsed = !item.collapsed">
            <h4 class="mb-0 faq-item_question fw-bold ff-peyda"> {{ item.question }} </h4>

            <fa-icon size="lg" icon="caret-down" class="text-secondary faq-item_icon "></fa-icon>
          </div>

          <h4 class="accordion-content mb-0">
            {{ item.answer | persianNumber }}
          </h4>
        </div>
      </div>
      }
    </section>
  </section>
</div>

@if (showFooterAndContact()) {
<div class="content-container flex-column">
  <section class="container-width d-flex align-items-center flex-column container-padding">
    <app-footer class="mb-9"></app-footer>
  </section>
</div>
}